$desktop: 1200px
$laptop: 1024px
$tablet: 768px
$phone: 480px

*
  box-sizing: border-box
  font-family: 'Montserrat', sans-serif !important
a
  text-decoration: none
  color: initial

body
  overflow-x: hidden

.element-wrapper
  width: 100%
.element
  max-width: 1160px
  height: 100%
  margin: auto

.vertical-line
  height: 80px
  width: 1px
  background: black
  position: absolute
  left: 50%
  right: 50%
  top: -40px
@media (max-width: $desktop)
  .element-wrapper
    padding-left: 32px
    padding-right: 32px

@media (max-width: $phone)
  .element-wrapper
    padding-left: 20px
    padding-right: 20px

@import "_modules/devpage"
@import "_modules/navbar"
@import "_modules/footer"
@import "_modules/footer-news"
@import "_modules/footer-moreinfo"
@import "_modules/header"
@import "_modules/advantages"
@import "_modules/main-block"
@import "_modules/coming-courses"
@import "_modules/specialforyou"
@import "_modules/equipment"
@import "_modules/reviews-slider"
@import "_modules/lessons-list"
@import "_modules/timetable"
@import "_modules/lessons-contacts"
@import "_modules/lessons-pricing"
@import "_modules/lessons-type"
@import "_modules/lessons-reviews"