$desktop: 1200px
$laptop: 1024px
$tablet: 768px
$phone: 480px

*
  box-sizing: border-box
  font-family: 'Montserrat', sans-serif !important
a
  text-decoration: none
  color: initial

@import "_modules/devpage"
@import "_modules/navbar"
