.header-wrapper
  width: 100%
  min-height: 420px
  background-repeat: no-repeat
  background-position: center
  @media (min-width: 1920px)
    background-size: 100% !important

.header
  max-width: 1160px
  height: 100%
  margin: auto
  position: relative

.header-button-blue
  color: white
  font-weight: bold
  font-size: 14px
  line-height: 150%
  padding: 16px 24px
  background: #00A3DD
  border-radius: 500px
  white-space: nowrap
  @media (max-width: $tablet)
    padding: 9px 24px
    font-size: 14px
.header-link
  color: #00A3DD
  font-weight: bold
  font-size: 14px
  line-height: 150%

.header-title
  padding-top: 144px
  text-align: center
  font-weight: bold
  font-size: 44px
  line-height: 110%
  @media(max-width: $tablet)
    padding-top: 80px
    font-size: 24px
    line-height: 130%

.header-subtitle
  font-size: 16px
  line-height: 150%
  text-align: center
  max-width: 760px
  margin-left: auto
  margin-right: auto
  margin-top: 16px
  @media(max-width: $tablet)
    display: none

.header-lesson-buttons
  width: 560px
  height: 52px
  background: #00A3DD
  border-radius: 16500px
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
  position: absolute
  left:  calc( 50% - 280px )
  right: calc( 50% - 280px )
  bottom: -26px
  z-index: 1
  @media (max-width: 600px)
    height: 70px
    width: calc(100vw - 40px)
    left: 20px
    right: 20px
    bottom: -35px
.header-lesson-buttons-el
  padding: 8px
  width: 50%
  font-weight: bold
  font-size: 14px
  line-height: 150%
  text-align: center
  color: white
  height: 100%
  display: flex
  justify-content: center
  align-items: center
  border-radius: 16500px


.header-lesson-buttons-active
  background: white
  color: black
  border: 2px solid #00A3DD
// MAIN PAGE HEADER

.header-wrapper.header-main-wrapper
  background-image: url("/img/background/main.png")
  background-repeat: no-repeat
  height: 650px
  background-position: center
  @media (min-width: 1920px)
    background-size: 100% !important
  @media (max-width: $desktop)
    padding-left: 30px
    padding-right: 30px
.header.header-main
  padding-top: 67px
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
  @media (max-width: $laptop)
    align-items: unset
  @media (max-width: $phone)
    align-items: center
    flex-direction: column
.header-main-img
  max-width: 753px
  height: auto
  @media (max-width: $desktop)
    max-width: 50%
  @media (max-width: $laptop)
    max-width: 98%
    position: absolute
    bottom: 60px
    right: -30px
  @media (max-width: $phone)
    max-width: unset
    left: -34vw
    bottom: 0
    position: absolute
    width: 125vw !important
.header-main-info-title
  font-weight: bold
  font-size: 52px
  line-height: 110%
  @media (max-width: $tablet)
    font-size: 40px
  @media (max-width: $phone)
    font-size: 32px
    line-height: 110%
.header-main-info-buttons
  margin-top: 40px
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
  @media (max-width: $phone)
    flex-direction: column
    margin-top: 30px
    .header-button-blue
      margin-bottom: 30px

.header-main-info-subtitle
  font-size: 16px
  line-height: 150%
  margin-top: 16px
  @media (max-width: $tablet)
    font-size: 14px

.header-main-info
  @media (max-width: $laptop)
    width: 59%
    margin-top: 80px
    z-index: 1
  @media (max-width: 680px)
    width: 80%
  @media (max-width: $phone)
    width: 100%
    text-align: center
    margin-top: 8px


.header-wrapper.header-lessons-wrapper
  background-image: url("/img/background/lesson-studio-background.png")
  background-repeat: no-repeat
  background-position: bottom
  background-size: cover
  //@media(min-width: 1400px)
    //background-size: 100%
  @media(max-width: $tablet)
    height: 190px
    min-height: unset
.header.header-lessons
  position: relative
  min-height: 420px
  @media(max-width: $tablet)
    min-height: unset


// EDUCATION HEADER

.education-header-wrapper
  background-image: url("/img/background/education-header-background.png")
  background-size: cover
  @media (max-width: $tablet)
    height: 189px
    min-height: unset
  @media (max-width: $phone)
    height: 192px
  .header-main-info-buttons
    justify-content: center

.education-header-basic
  height: 476px !important
  @media (max-width: $tablet)
    height: 400px !important
  .header-subtitle
    display: block !important
    @media (max-width: $tablet)
      width: calc(100vw - 95px - 95px )
      font-size: 14px
    @media (max-width: $phone)
      width: calc(100vw - 40px )