!= partial("/_templates/navbar")

.header-wrapper.education-header-wrapper
    .header.education-header
        .header-title Расписание и залы
        .header-subtitle Школа регулярно ведет подготовку инструкторов, повышает квалификацию тех,  кто уже в профессии, а также дает возможность получить знания о развитии и телесном осознании.
.education-timetable-page
    .vertical-line
    != partial("/_templates/education-timetable")
!= partial("/_templates/footer-moreinfo")
!= partial("/_templates/footer")