!= partial("/_templates/navbar")

.header-wrapper.education-header-wrapper.education-header-basic
    .header.education-header
        .header-title Базовый
            br
            |инструкторский курс
        .header-subtitle Мы помогаем развивать гибкость, силу, баланс взрослым и детям с разным уровнем подготовки для достижений в профессиональной деятельности и в повседневной жизни.
        .header-main-info-buttons
            a.header-button-blue(href="#")#coursePopupTrigger Записаться на курс
.element-wrapper.education-basic-heading-wrapper
    .element.education-basic-heading
        .vertical-line
        .education-basic-heading-title
            span 5 дней,
            br(style="display: none")
            span 5 направлений —
            br
            span для профессионального роста
        .education-basic-heading-subtitle Базовый курс закладывает основу для всей системы и дает понимание нового подхода к физической активности. В результате растяжка происходит без травмирующей боли, а развитие силы и выносливости без истощающего перенапряжения.

.education-basic-element
    .education-basic-element-left
       p Для кого
    .education-basic-element-content
        ul
            li хореографы и педагоги классического и современного танца
            li спортивные тренеры и фитнес-инструкторы
            li преподаватели йоги, стретчинга, пилатеса
            li тренеры и инструкторы единоборств
            li танцоры и спортсмены
            li специалисты телесных практик
            li массажисты, кинезиологи, остеопаты
            li люди занимающиуся саморазвитием

.education-basic-element.education-basic-element-blue
    .education-basic-element-left
        p Что Вы получите
    .education-basic-element-content
        ul
            li хореографы и педагоги классического и современного танца
            li спортивные тренеры и фитнес-инструкторы
            li преподаватели йоги, стретчинга, пилатеса
            li преподаватели йоги, стретчинга, пилатеса

.education-basic-element
    .education-basic-element-left
        p Программа курса
    .education-basic-element-content
        .education-basic-heading-subtitle(style="margin-top: 0px") Курс включает 5 направлений, каждое из которых Вы сможете преподавать, как самостоятельную дисциплину, или составлять программы тренировок, сочетающие несколько направлений.
        .education-basic-element-content-routes
            .education-basic-element-content-routes-block
                .education-basic-element-content-routes-block-title 1 — Основы внутреннего дыхания.
                .education-basic-element-content-routes-block-text Настройка ключевых ощущений и движений.
            .education-basic-element-content-routes-block
                .education-basic-element-content-routes-block-title 1 — Основы внутреннего дыхания.
                .education-basic-element-content-routes-block-text Настройка ключевых ощущений и движений.
            .education-basic-element-content-routes-block
                .education-basic-element-content-routes-block-title 1 — Основы внутреннего дыхания.
                .education-basic-element-content-routes-block-text Настройка ключевых ощущений и движений.
            .education-basic-element-content-routes-block
                .education-basic-element-content-routes-block-title 1 — Основы внутреннего дыхания.
                .education-basic-element-content-routes-block-text Настройка ключевых ощущений и движений.
            .education-basic-element-content-routes-block
                .education-basic-element-content-routes-block-title 1 — Основы внутреннего дыхания.
                .education-basic-element-content-routes-block-text Настройка ключевых ощущений и движений.
        .education-basic-heading-subtitle Обучение по программе инструкторского курса проходит очно в Новосибирске, Москве и Санкт-Петербурге. По окончанию выдаётся Свидетельство с правом проведения занятий по пяти направлениям системы Aplomb.
    .education-basic-element-certificate
        img(src="/img/photo/certificate.png")
        p Свидетельство Aplomb

.education-video-container
    .vertical-line
    .vertical-line.vertical-line-bottom
    img.education-video-container-el(src="/img/photo/video-preview.png")
    a(href="https://www.youtube.com/watch?v=L7OLY4HCctQ").education-video-container-play.video-popup
        img(src="/img/icon/play.svg")

.education-advantages
    .education-advantages-element
        .education-advantages-element-title 120+
        .education-advantages-element-subtitle Инструкторов в профессии
    .education-advantages-element
        .education-advantages-element-title 120+
        .education-advantages-element-subtitle Инструкторов в профессии
    .education-advantages-element
        .education-advantages-element-title 120+
        .education-advantages-element-subtitle Инструкторов в профессии
    .education-advantages-element
        .education-advantages-element-title 120+
        .education-advantages-element-subtitle Инструкторов в профессии

!= partial("/_templates/education-autor")
.education-basic-timetable
    .education-basic-timetable-title Ближайшие курсы
    != partial("/_templates/education-timetable")
!= partial("/_templates/reviews-slider")
!= partial("/_templates/education-gallery")

!= partial("/_templates/faq")
.course-form.course-form-page
    .course-form-title Ближайший курс — 2–6 декабря.
    .course-form-subtitle Бронирование места осуществляется по предоплате 6 000 ₽.
    .course-form-el
        input(placeholder="Введите имя и фамилию")
    .course-form-el
        input(placeholder="Введите имя и фамилию")
    .course-form-el
        input(placeholder="Введите имя и фамилию")
    .couse-form-checkbox-container
        input.couse-form-checkbox-container-el(type="checkbox")
        .couse-form-checkbox-container-p Нажимая на кнопку, вы соглашаетесь с Правилами и условиями регистрации на курс и соглашаетесь c
            a.couse-form-checkbox-container-a политикой конфиденциальности
    .course-control
        .course-button Оплатить — 30 000 ₽
        .course-prepay Или внесите предоплату —
            span 6 000 ₽
!= partial("/_templates/footer-moreinfo")
!= partial("/_templates/footer")