!= partial("/_templates/navbar")

.header-wrapper.education-header-wrapper.education-header-about
    .header.education-header
        .header-title Об обучении
        .header-subtitle Мы помогаем развивать гибкость, силу, баланс взрослым и детям с разным уровнем подготовки для достижений в профессиональной деятельности и в повседневной жизни.
        .education-header-buttons
            .education-header-buttons-el Базовый инструкторский курс
            .education-header-buttons-el Курсы для инструкторов Aplomb

!= partial("/_templates/education-autor")

.education-basic-element.education-about-element
    .education-basic-element-left.education-basic-element-left-certificate
        img(src="/img/photo/certificate.png")
        p Свидетельство Aplomb
    .education-basic-element-content.spoiler
            p Обучение по программе инструкторского курса начинается с пятидневного базового курса, который проходит очно в Новосибирске, Москве и Санкт-Петербурге. По окончанию выдаётся Свидетельство с правом проведения занятий по пяти направлениям системы Aplomb:
            .education-basic-element-content-base
                div
                    b Основы внутреннего дыхания –
                    span настройка ключевых ощущений и движений.
                div
                    b Растяжка на расслаблении –
                    span освобождение тела и осознанное расслабление.
                div
                    b Силовая растяжка –
                    span укрепление и направленные действия.

                div
                    b Гармонизация осанки –
                    span выстраивание тела и сбалансированные движения.
                div
                    b Интенсивная растяжка –
                    span технология растяжки на три шпагата без боли.

            p Базовый курс закладывает основу для всей системы и даёт понимание нового подхода к физической активности в результате растяжка происходит без травмирующей боли, а развитие силы и выносливости без истощающего перенапряжения. Дальнейшее развитие идёт на трехдневных модулях по дополнительным направлениям и практикумах для инструкторов. Таким образом происходит более глубокое понимание технологии и восприятие системы становится целостным, что обеспечивает более широкое применение полученных знаний и приобретенных навыков.

            p.spoiler-title.education-basic-element-content-open Узнать подробнее
            .education-basic-element-content-hidden
                p Спецификой обучающего процесса является личный опыт обнаружения и настройки внутренних ощущений в теле, которые координируют движения на основе определенных режимов дыхания. Как научится кататься на велосипеде можно только на практике, или понять вкус клубники можно только попробовав её на вкус, так и ключевые ощущения можно обнаружить только проделывая и получив подтверждение на личном опыте, что это действительно то, о чём говорится. Именно поэтому обучение проводится очно в группе 10-12 человек, чтобы уделить внимание каждому.

                p На каждом курсе выдаётся рабочая тетрадь с подробным описанием теоретической основы, фотографиями положений и расписанных алгоритмов действий с вариантами упрощений, и усложнений для разного уровня занимающихся.

                p Все комплексы практических упражнений представляют из себя последовательности, дополняющие друг друга и образующие единую систему, которую разбираем в теоретических моделях, чтобы в дальнейшем можно было применять на практике и объяснять на занятиях людям с разным уровнем подготовки точно под конкретные задачи.

                p Базовый инструкторский курс, модули и практикумы для инструкторов Aplomb дают теоретическую основу, практические навыки и знания о двигательной системе человека. Использование полученных знаний для специалистов, работающих в сфере физической культуры и оздоровления, регламентировано наличием необходимого профессионального образования, уровня квалификации специалиста, подтвержденного дипломом и/или другими документами, дающими право на деятельность в указанной квалификации.

                p Семинар Aplomb therapy® рекомендован для реабелитологов, кинезиологов, остеопатов, массажистов и инструкторов Aplomb, представляет собой комплекс приёмов, влияющих на тело с целью укрепления двигательной системы, улучшения самочувствия и общего оздоровления организма.  Только специалисты с медицинским образованием могут использовать приёмы системы Aplomb в лечебных целях.
                p.spoiler-title.education-basic-element-content-close Свернуть
    .education-basic-element-left
        .education-basic-element-content-about-bold Создано профессионалом
        .education-basic-element-content-about-normal Более 20 летний опыт технологии по выстраиванию сбалансированного тела.

.education-about-media-container
    .education-video-container
        .vertical-line
        .vertical-line.vertical-line-bottom
        img.education-video-container-el(src="/img/photo/video-preview.png")
        .education-video-container-p Так проходят курсы
        a(href="https://www.youtube.com/watch?v=L7OLY4HCctQ").education-video-container-play.video-popup
            img(src="/img/icon/play.svg")
    != partial("/_templates/education-gallery")

!= partial("/_templates/reviews-slider")

!= partial("/_templates/faq")
!= partial("/_templates/footer-moreinfo")
!= partial("/_templates/footer")