!= partial("/_templates/navbar")

.header-wrapper.education-header-wrapper.education-header-basic
    .header.education-header
        .header-title Базовый
            br
            |инструкторский курс
        .header-subtitle Мы помогаем развивать гибкость, силу, баланс взрослым и детям с разным уровнем подготовки для достижений в профессиональной деятельности и в повседневной жизни.
        .header-main-info-buttons
            a.header-button-blue(href="#") Расписание занятий
.element-wrapper.education-basic-heading-wrapper
    .element.education-basic-heading
        .vertical-line
        .education-basic-heading-title 5 дней,
            br(style="display: none")
            | 5 направлений —
            br
            | для профессионального роста
        .education-basic-heading-subtitle Базовый курс закладывает основу для всей системы и дает понимание нового подхода к физической активности. В результате растяжка происходит без травмирующей боли, а развитие силы и выносливости без истощающего перенапряжения.

.education-basic-element
    .education-basic-element-left
       p Для кого
    .education-basic-element-content
        ul
            li хореографы и педагоги классического и современного танца
            li спортивные тренеры и фитнес-инструкторы
            li преподаватели йоги, стретчинга, пилатеса
            li тренеры и инструкторы единоборств
            li танцоры и спортсмены
            li специалисты телесных практик
            li массажисты, кинезиологи, остеопаты
            li люди занимающиуся саморазвитием

.education-basic-element.education-basic-element-blue
    .education-basic-element-left
        p Что Вы получите
    .education-basic-element-content
        ul
            li хореографы и педагоги классического и современного танца
            li спортивные тренеры и фитнес-инструкторы
            li преподаватели йоги, стретчинга, пилатеса
            li преподаватели йоги, стретчинга, пилатеса

.education-basic-element
    .education-basic-element-left
        p Программа курса
    .education-basic-element-content
        .education-basic-heading-subtitle(style="margin-top: 0px") Курс включает 5 направлений, каждое из которых Вы сможете преподавать, как самостоятельную дисциплину, или составлять программы тренировок, сочетающие несколько направлений.
        .education-basic-element-content-routes
            .education-basic-element-content-routes-block
                .education-basic-element-content-routes-block-title 1 — Основы внутреннего дыхания.
                .education-basic-element-content-routes-block-text Настройка ключевых ощущений и движений.
            .education-basic-element-content-routes-block
                .education-basic-element-content-routes-block-title 1 — Основы внутреннего дыхания.
                .education-basic-element-content-routes-block-text Настройка ключевых ощущений и движений.
            .education-basic-element-content-routes-block
                .education-basic-element-content-routes-block-title 1 — Основы внутреннего дыхания.
                .education-basic-element-content-routes-block-text Настройка ключевых ощущений и движений.
            .education-basic-element-content-routes-block
                .education-basic-element-content-routes-block-title 1 — Основы внутреннего дыхания.
                .education-basic-element-content-routes-block-text Настройка ключевых ощущений и движений.
            .education-basic-element-content-routes-block
                .education-basic-element-content-routes-block-title 1 — Основы внутреннего дыхания.
                .education-basic-element-content-routes-block-text Настройка ключевых ощущений и движений.
        .education-basic-heading-subtitle Обучение по программе инструкторского курса проходит очно в Новосибирске, Москве и Санкт-Петербурге. По окончанию выдаётся Свидетельство с правом проведения занятий по пяти направлениям системы Aplomb.
    .education-basic-element-certificate
        img(src="/img/photo/certificate.png")
        p Свидетельство Aplomb

.education-video-container
    .vertical-line
    .vertical-line.vertical-line-bottom
    img.education-video-container-el(src="/img/photo/video-preview.png")
    a(href="#").education-video-container-play
        img(src="/img/icon/play.svg")

.education-advantages
    .education-advantages-element
        .education-advantages-element-title 120+
        .education-advantages-element-subtitle Инструкторов в профессии
    .education-advantages-element
        .education-advantages-element-title 120+
        .education-advantages-element-subtitle Инструкторов в профессии
    .education-advantages-element
        .education-advantages-element-title 120+
        .education-advantages-element-subtitle Инструкторов в профессии
    .education-advantages-element
        .education-advantages-element-title 120+
        .education-advantages-element-subtitle Инструкторов в профессии

.education-autor
    .education-autor-info
        img.education-autor-info-photo(src="/img/photo/oleg.png")
        .education-autor-info-text Олег Бондарчук автор системы Aplomb
    .education-autor-quote — Основополагающим является настройка тела с помощью ощущений и режимов дыхания, синхронизированных с движениями. Полученный опыт в теле и сформированный навык позволяет начать проводить занятия и получать результаты на занятиях у людей с разным уровнем подготовки. Вам станет понятно, как настраивать тело на разумное восприятие нагрузки и достигать поставленных целей с меньшими усилиями.
!= partial("/_templates/reviews-slider")
.education-gallery
    img.education-gallery-element(src="/img/photo/gallery.png")
    img.education-gallery-element(src="/img/photo/gallery.png")
    img.education-gallery-element(src="/img/photo/gallery.png")
    img.education-gallery-element(src="/img/photo/gallery.png")
    img.education-gallery-element(src="/img/photo/gallery.png")
    img.education-gallery-element(src="/img/photo/gallery.png")
    img.education-gallery-element(src="/img/photo/gallery.png")
    img.education-gallery-element(src="/img/photo/gallery.png")
    .education-gallery-text Так проходят регулярные занятия

.lessons-faq
    .lessons-faq-title Направления занятий
    .spoiler.lessons-faq-spoiler.lessons-faq-spoiler-first
        .spoiler-title.lessons-faq-spoiler
            span Если я не сажусь на шпагат, могу ли я пройти обучение?
            img(src="/img/icon/plus.svg")
        .spoiler-body.lessons-faq-body-body Да, конечно. Для этого мы и создали курс для новичков. На нем вы узнаете о самом методе безболезненной растяжке, основанной на синхронизации внутреннего дыхания и линейных ощущений.
    .spoiler.lessons-faq-spoiler.lessons-faq-spoiler-first
        .spoiler-title.lessons-faq-spoiler
            span Если я не сажусь на шпагат, могу ли я пройти обучение?
            img(src="/img/icon/plus.svg")
        .spoiler-body.lessons-faq-body-body Да, конечно. Для этого мы и создали курс для новичков. На нем вы узнаете о самом методе безболезненной растяжке, основанной на синхронизации внутреннего дыхания и линейных ощущений.
    .spoiler.lessons-faq-spoiler.lessons-faq-spoiler-first
        .spoiler-title.lessons-faq-spoiler
            span Если я не сажусь на шпагат, могу ли я пройти обучение?
            img(src="/img/icon/plus.svg")
        .spoiler-body.lessons-faq-body-body Да, конечно. Для этого мы и создали курс для новичков. На нем вы узнаете о самом методе безболезненной растяжке, основанной на синхронизации внутреннего дыхания и линейных ощущений.
    .spoiler.lessons-faq-spoiler.lessons-faq-spoiler-first
        .spoiler-title.lessons-faq-spoiler
            span Если я не сажусь на шпагат, могу ли я пройти обучение?
            img(src="/img/icon/plus.svg")
        .spoiler-body.lessons-faq-body-body Да, конечно. Для этого мы и создали курс для новичков. На нем вы узнаете о самом методе безболезненной растяжке, основанной на синхронизации внутреннего дыхания и линейных ощущений.
    .spoiler.lessons-faq-spoiler.lessons-faq-spoiler-first
        .spoiler-title.lessons-faq-spoiler
            span Если я не сажусь на шпагат, могу ли я пройти обучение?
            img(src="/img/icon/plus.svg")
        .spoiler-body.lessons-faq-body-body Да, конечно. Для этого мы и создали курс для новичков. На нем вы узнаете о самом методе безболезненной растяжке, основанной на синхронизации внутреннего дыхания и линейных ощущений.
!= partial("/_templates/footer-moreinfo")
!= partial("/_templates/footer")