.devpage
    img(src="/img/logo.svg").devpage-logo
    a(href="/main.html").devpage-link Главная страница
    a(href="/lessons-studio.html").devpage-link Занятия в студии
    a(href="/lessons-map.html").devpage-link Занятия в других залах