!= partial("/_templates/navbar")
.header-wrapper.header-lessons-wrapper
    .header.header-lessons
        .header-title Расписание и залы
        .header-subtitle Мы помогаем развивать гибкость, силу, баланс взрослым и детям с разным уровнем подготовки для достижений в профессиональной деятельности и в повседневной жизни.
        .header-lesson-buttons
            a.header-lesson-buttons-el(href="#") Студия Aplomb-Новосибирск
            a.header-lesson-buttons-el.header-lesson-buttons-active(href="#") Все инструкторы и залы

.lessons-map
    .lessons-map-studios
        .lessons-map-studios-town
            span#mapTown Выбрать город
            img(src="/img/icon/chevron.svg")
        .lessons-map-result
            .lessons-map-result-count  Найдено: 216
            .lessons-map-result-element
                img.lessons-map-result-element-photo(src="/img/photo/trainer.png")
                .lessons-map-result-element-info
                    .lessons-map-result-element-info-title Студия Aplomb
                    .lessons-map-result-element-info-subtitle Новосибирск, ул. Максима Горького, 51 Студия Aplomb

            .lessons-map-result-element
                img.lessons-map-result-element-photo(src="/img/photo/trainer.png")
                .lessons-map-result-element-info
                    .lessons-map-result-element-info-title Студия Aplomb
                    .lessons-map-result-element-info-subtitle Новосибирск, ул. Максима Горького, 51 Студия Aplomb

            .lessons-map-result-element
                img.lessons-map-result-element-photo(src="/img/photo/trainer.png")
                .lessons-map-result-element-info
                    .lessons-map-result-element-info-title Студия Aplomb
                    .lessons-map-result-element-info-subtitle Новосибирск, ул. Максима Горького, 51 Студия Aplomb

            .lessons-map-result-element
                img.lessons-map-result-element-photo(src="/img/photo/trainer.png")
                .lessons-map-result-element-info
                    .lessons-map-result-element-info-title Студия Aplomb
                    .lessons-map-result-element-info-subtitle Новосибирск, ул. Максима Горького, 51 Студия Aplomb
            .lessons-map-result-element
                img.lessons-map-result-element-photo(src="/img/photo/trainer.png")
                .lessons-map-result-element-info
                    .lessons-map-result-element-info-title Студия Aplomb
                    .lessons-map-result-element-info-subtitle Новосибирск, ул. Максима Горького, 51 Студия Aplomb
            .lessons-map-result-element
                img.lessons-map-result-element-photo(src="/img/photo/trainer.png")
                .lessons-map-result-element-info
                    .lessons-map-result-element-info-title Студия Aplomb
                    .lessons-map-result-element-info-subtitle Новосибирск, ул. Максима Горького, 51 Студия Aplomb

            .lessons-map-button
                .lessons-map-button-shadow
                .lessons-map-button-body
                    a.lessons-map-button-body-button(href="#") Посмотреть интрукторов

        .lessons-map-search
            .lessons-map-search-container
                input.lessons-map-search-container-el(placeholder="Найти")
                button.lessons-map-search-container-button
                    img(src="/img/icon/search.svg")
            .lessons-map-search-result
                .lessons-map-search-result-town Новосибирск
                .lessons-map-search-result-town Москва
                .lessons-map-search-result-town Несуществующий город
                .lessons-map-search-result-town Новосибирск
                .lessons-map-search-result-town Москва
                .lessons-map-search-result-town Санкт-Петербург
                .lessons-map-search-result-town Новосибирск
                .lessons-map-search-result-town Москва
                .lessons-map-search-result-town Санкт-Петербург
                .lessons-map-search-result-town Новосибирск
                .lessons-map-search-result-town Москва
                .lessons-map-search-result-town Санкт-Петербург

        .lessons-map-notfound
            .lessons-map-result-count  Найдено: 216
            .lessons-map-notfound-p В Вашем городе еще не проводятся занятия по системе Aplomb.
            .lessons-map-notfound-pb Вы можете пройти обучение по программе инструкторского курса и самостоятельно проводите занятия в Вашем городе.
            .lessons-map-notfound-p Позвоните или напишите:
            .lessons-map-notfound-contacts
                span.lessons-map-notfound-pb 8 (800) 7700 918 —
                span.lessons-map-notfound-p звонок бесплатно
                br
                .lessons-map-notfound-pb admin@aplomb.ru
                .lessons-map-notfound-p и мы с радостью проконсультируем вас.
            .lessons-map-button
                    a.lessons-map-button-body-button(href="#") Посмотреть интрукторов
.lessons-reviews-wrapper
    .lessons-reviews
        .lessons-reviews-title Отзывы о занятиях в студии
        .lessons-reviews-slider
            .lessons-reviews-slider-element
                img.lessons-reviews-slider-element-photo(src="/img/photo/reviews-photo.png")
                .lessons-reviews-slider-element-name Zebra-3000
                .lessons-reviews-slider-element-review Вот уже месяц хожу на растяжку в студию к тренеру Евгении,и буду ходить дальше :) Прошла много студий и пробных занятий, но больше всего понравилось здесь : профессиональный подход, без боли и травм, мягкая, но при этом эффективная растяжка! Студия в самом центре города, очень чистая, уютная. Тренер Евгения профессионал своего дела, всегда поможет...
                a.lessons-reviews-slider-element-link(href="#") vk.com/tonystarfox
            .lessons-reviews-slider-element
                img.lessons-reviews-slider-element-photo(src="/img/photo/reviews-photo.png")
                .lessons-reviews-slider-element-name Zebra-3000
                .lessons-reviews-slider-element-review Вот уже месяц хожу на растяжку в студию к тренеру Евгении,и буду ходить дальше :) Прошла много студий и пробных занятий, но больше всего понравилось здесь : профессиональный подход, без боли и травм, мягкая, но при этом эффективная растяжка! Студия в самом центре города, очень чистая, уютная. Тренер Евгения профессионал своего дела, всегда поможет...
                a.lessons-reviews-slider-element-link(href="#") vk.com/tonystarfox
            .lessons-reviews-slider-element
                img.lessons-reviews-slider-element-photo(src="/img/photo/reviews-photo.png")
                .lessons-reviews-slider-element-name Zebra-3000
                .lessons-reviews-slider-element-review Вот уже месяц хожу на растяжку в студию к тренеру Евгении,и буду ходить дальше :) Прошла много студий и пробных занятий, но больше всего понравилось здесь : профессиональный подход, без боли и травм, мягкая, но при этом эффективная растяжка! Студия в самом центре города, очень чистая, уютная. Тренер Евгения профессионал своего дела, всегда поможет...
                a.lessons-reviews-slider-element-link(href="#") vk.com/tonystarfox
            .lessons-reviews-slider-element
                img.lessons-reviews-slider-element-photo(src="/img/photo/reviews-photo.png")
                .lessons-reviews-slider-element-name Zebra-3000
                .lessons-reviews-slider-element-review Вот уже месяц хожу на растяжку в студию к тренеру Евгении,и буду ходить дальше :) Прошла много студий и пробных занятий, но больше всего понравилось здесь : профессиональный подход, без боли и травм, мягкая, но при этом эффективная растяжка! Студия в самом центре города, очень чистая, уютная. Тренер Евгения профессионал своего дела, всегда поможет...
                a.lessons-reviews-slider-element-link(href="#") vk.com/tonystarfox
!= partial("/_templates/faq")
!= partial("/_templates/footer-moreinfo")
!= partial("/_templates/footer")