!= partial("/_templates/navbar")
.header-wrapper.header-lessons-wrapper
    .header.header-lessons
        .header-title Расписание и залы
        .header-subtitle Мы помогаем развивать гибкость, силу, баланс взрослым и детям с разным уровнем подготовки для достижений в профессиональной деятельности и в повседневной жизни.
        .header-lesson-buttons
            a.header-lesson-buttons-el.header-lesson-buttons-active(href="#") Студия Aplomb-Новосибирск
            a.header-lesson-buttons-el(href="#") Все инструкторы и залы
.element-wrapper.lessons-list-wrapper
    .element.lessons-list
        .lessons-list-collumn
            ul
                li Опытные инструкторы с профессиональным образованием
                li В самом центре города (5 мин. пешком от м. пл. Ленина)
                li Полный комплект резиновых ремней и оборудования Aplomb
        .lessons-list-collumn
            ul
                li Опытные инструкторы с профессиональным образованием
                li В самом центре города (5 мин. пешком от м. пл. Ленина)
                li Полный комплект резиновых ремней и оборудования Aplomb
.element-wrapper.timetable-wrapper
    .element.timetable
        .timetable-title Расписание студии
        .timetable-container
            .timetable-container-row
                .timetable-container-row-day ПН
                .timetable-container-row-day ВТ
                .timetable-container-row-day СР
                .timetable-container-row-day ЧТ
                .timetable-container-row-day ПТ
                .timetable-container-row-day СБ
            .timetable-container-row
                .timetable-container-row-card
                    .timetable-container-row-card-info
                        .timetable-container-row-card-info-time 07.00 - 08.00
                        .timetable-container-row-card-info-type Soft
                        .timetable-container-row-card-info-type Растяжка

                    .timetable-container-row-card-trainer
                        img.timetable-container-row-card-trainer-photo(src="/img/photo/trainer.png")
                        .timetable-container-row-card-trainer-name Евгений
                .timetable-container-row-card
                    .timetable-container-row-card-info
                        .timetable-container-row-card-info-time 07.00 - 08.00
                        .timetable-container-row-card-info-type Soft
                        .timetable-container-row-card-info-type Растяжка

                    .timetable-container-row-card-trainer
                        img.timetable-container-row-card-trainer-photo(src="/img/photo/trainer.png")
                        .timetable-container-row-card-trainer-name Евгений
                .timetable-container-row-card
                    .timetable-container-row-card-info
                        .timetable-container-row-card-info-time 07.00 - 08.00
                        .timetable-container-row-card-info-type Soft
                        .timetable-container-row-card-info-type Растяжка

                    .timetable-container-row-card-trainer
                        img.timetable-container-row-card-trainer-photo(src="/img/photo/trainer.png")
                        .timetable-container-row-card-trainer-name Евгений
                .timetable-container-row-card
                    .timetable-container-row-card-info
                        .timetable-container-row-card-info-time 07.00 - 08.00
                        .timetable-container-row-card-info-type Soft
                        .timetable-container-row-card-info-type Растяжка

                    .timetable-container-row-card-trainer
                        img.timetable-container-row-card-trainer-photo(src="/img/photo/trainer.png")
                        .timetable-container-row-card-trainer-name Евгений
                .timetable-container-row-card
                    .timetable-container-row-card-info
                        .timetable-container-row-card-info-time 07.00 - 08.00
                        .timetable-container-row-card-info-type Soft

                    .timetable-container-row-card-trainer
                        img.timetable-container-row-card-trainer-photo(src="/img/photo/trainer.png")
                        .timetable-container-row-card-trainer-name Евгений
                .timetable-container-row-card
                    .timetable-container-row-card-info
                        .timetable-container-row-card-info-time 07.00 - 08.00
                        .timetable-container-row-card-info-type Soft
                        .timetable-container-row-card-info-type Растяжка
                        .timetable-container-row-card-info-type Растяжка

                    .timetable-container-row-card-trainer
                        img.timetable-container-row-card-trainer-photo(src="/img/photo/trainer.png")
                        .timetable-container-row-card-trainer-name Евгений

            .timetable-container-row
                .timetable-container-row-card
                    .timetable-container-row-card-info
                        .timetable-container-row-card-info-time 07.00 - 08.00
                        .timetable-container-row-card-info-type Soft
                        .timetable-container-row-card-info-type Растяжка

                    .timetable-container-row-card-trainer
                        img.timetable-container-row-card-trainer-photo(src="/img/photo/trainer.png")
                        .timetable-container-row-card-trainer-name Евгений
                .timetable-container-row-card.timetable-container-row-card-empty
                .timetable-container-row-card.timetable-container-row-card-empty Записаться на индивидуальные занятия
                .timetable-container-row-card
                    .timetable-container-row-card-info
                        .timetable-container-row-card-info-time 07.00 - 08.00
                        .timetable-container-row-card-info-type Soft
                        .timetable-container-row-card-info-type Растяжка

                    .timetable-container-row-card-trainer
                        img.timetable-container-row-card-trainer-photo(src="/img/photo/trainer.png")
                        .timetable-container-row-card-trainer-name Евгений
                .timetable-container-row-card
                    .timetable-container-row-card-info
                        .timetable-container-row-card-info-time 07.00 - 08.00
                        .timetable-container-row-card-info-type Soft

                    .timetable-container-row-card-trainer
                        img.timetable-container-row-card-trainer-photo(src="/img/photo/trainer.png")
                        .timetable-container-row-card-trainer-name Евгений
                .timetable-container-row-card
                    .timetable-container-row-card-info
                        .timetable-container-row-card-info-time 07.00 - 08.00
                        .timetable-container-row-card-info-type Soft
                        .timetable-container-row-card-info-type Растяжка
                        .timetable-container-row-card-info-type Растяжка

                    .timetable-container-row-card-trainer
                        img.timetable-container-row-card-trainer-photo(src="/img/photo/trainer.png")
                        .timetable-container-row-card-trainer-name Евгений
            .timetable-container-row
                .timetable-container-row-card
                    .timetable-container-row-card-info
                        .timetable-container-row-card-info-time 07.00 - 08.00
                        .timetable-container-row-card-info-type Soft
                        .timetable-container-row-card-info-type Растяжка

                    .timetable-container-row-card-trainer
                        img.timetable-container-row-card-trainer-photo(src="/img/photo/trainer.png")
                        .timetable-container-row-card-trainer-name Евгений
                .timetable-container-row-card.timetable-container-row-card-empty
                .timetable-container-row-card.timetable-container-row-card-empty Записаться на индивидуальные занятия
                .timetable-container-row-card
                    .timetable-container-row-card-info
                        .timetable-container-row-card-info-time 07.00 - 08.00
                        .timetable-container-row-card-info-type Soft
                        .timetable-container-row-card-info-type Растяжка

                    .timetable-container-row-card-trainer
                        img.timetable-container-row-card-trainer-photo(src="/img/photo/trainer.png")
                        .timetable-container-row-card-trainer-name Евгений
                .timetable-container-row-card
                    .timetable-container-row-card-info
                        .timetable-container-row-card-info-time 07.00 - 08.00
                        .timetable-container-row-card-info-type Soft

                    .timetable-container-row-card-trainer
                        img.timetable-container-row-card-trainer-photo(src="/img/photo/trainer.png")
                        .timetable-container-row-card-trainer-name Евгений
                .timetable-container-row-card
                    .timetable-container-row-card-info
                        .timetable-container-row-card-info-time 07.00 - 08.00
                        .timetable-container-row-card-info-type Soft
                        .timetable-container-row-card-info-type Растяжка
                        .timetable-container-row-card-info-type Растяжка

                    .timetable-container-row-card-trainer
                        img.timetable-container-row-card-trainer-photo(src="/img/photo/trainer.png")
                        .timetable-container-row-card-trainer-name Евгений

            .timetable-container-row
                .timetable-container-row-card
                    .timetable-container-row-card-info
                        .timetable-container-row-card-info-time 07.00 - 08.00
                        .timetable-container-row-card-info-type Soft
                        .timetable-container-row-card-info-type Растяжка

                    .timetable-container-row-card-trainer
                        img.timetable-container-row-card-trainer-photo(src="/img/photo/trainer.png")
                        .timetable-container-row-card-trainer-name Евгений
                .timetable-container-row-card.timetable-container-row-card-empty
                .timetable-container-row-card.timetable-container-row-card-empty Записаться на индивидуальные занятия
                .timetable-container-row-card
                    .timetable-container-row-card-info
                        .timetable-container-row-card-info-time 07.00 - 08.00
                        .timetable-container-row-card-info-type Soft
                        .timetable-container-row-card-info-type Растяжка

                    .timetable-container-row-card-trainer
                        img.timetable-container-row-card-trainer-photo(src="/img/photo/trainer.png")
                        .timetable-container-row-card-trainer-name Евгений
                .timetable-container-row-card
                    .timetable-container-row-card-info
                        .timetable-container-row-card-info-time 07.00 - 08.00
                        .timetable-container-row-card-info-type Soft

                    .timetable-container-row-card-trainer
                        img.timetable-container-row-card-trainer-photo(src="/img/photo/trainer.png")
                        .timetable-container-row-card-trainer-name Евгений
                .timetable-container-row-card
                    .timetable-container-row-card-info
                        .timetable-container-row-card-info-time 07.00 - 08.00
                        .timetable-container-row-card-info-type Soft
                        .timetable-container-row-card-info-type Растяжка
                        .timetable-container-row-card-info-type Растяжка

                    .timetable-container-row-card-trainer
                        img.timetable-container-row-card-trainer-photo(src="/img/photo/trainer.png")
                        .timetable-container-row-card-trainer-name Евгений

            .timetable-container-row
                .timetable-container-row-card
                    .timetable-container-row-card-info
                        .timetable-container-row-card-info-time 07.00 - 08.00
                        .timetable-container-row-card-info-type Soft
                        .timetable-container-row-card-info-type Растяжка

                    .timetable-container-row-card-trainer
                        img.timetable-container-row-card-trainer-photo(src="/img/photo/trainer.png")
                        .timetable-container-row-card-trainer-name Евгений
                .timetable-container-row-card.timetable-container-row-card-empty
                .timetable-container-row-card.timetable-container-row-card-empty Записаться на индивидуальные занятия
                .timetable-container-row-card
                    .timetable-container-row-card-info
                        .timetable-container-row-card-info-time 07.00 - 08.00
                        .timetable-container-row-card-info-type Soft
                        .timetable-container-row-card-info-type Растяжка

                    .timetable-container-row-card-trainer
                        img.timetable-container-row-card-trainer-photo(src="/img/photo/trainer.png")
                        .timetable-container-row-card-trainer-name Евгений
                .timetable-container-row-card
                    .timetable-container-row-card-info
                        .timetable-container-row-card-info-time 07.00 - 08.00
                        .timetable-container-row-card-info-type Soft

                    .timetable-container-row-card-trainer
                        img.timetable-container-row-card-trainer-photo(src="/img/photo/trainer.png")
                        .timetable-container-row-card-trainer-name Евгений
                .timetable-container-row-card
                    .timetable-container-row-card-info
                        .timetable-container-row-card-info-time 07.00 - 08.00
                        .timetable-container-row-card-info-type Soft
                        .timetable-container-row-card-info-type Растяжка
                        .timetable-container-row-card-info-type Растяжка

                    .timetable-container-row-card-trainer
                        img.timetable-container-row-card-trainer-photo(src="/img/photo/trainer.png")
                        .timetable-container-row-card-trainer-name Евгений

            .timetable-container-row
                .timetable-container-row-card
                    .timetable-container-row-card-info
                        .timetable-container-row-card-info-time 07.00 - 08.00
                        .timetable-container-row-card-info-type Soft
                        .timetable-container-row-card-info-type Растяжка

                    .timetable-container-row-card-trainer
                        img.timetable-container-row-card-trainer-photo(src="/img/photo/trainer.png")
                        .timetable-container-row-card-trainer-name Евгений
                .timetable-container-row-card.timetable-container-row-card-empty
                .timetable-container-row-card.timetable-container-row-card-empty Записаться на индивидуальные занятия
                .timetable-container-row-card
                    .timetable-container-row-card-info
                        .timetable-container-row-card-info-time 07.00 - 08.00
                        .timetable-container-row-card-info-type Soft
                        .timetable-container-row-card-info-type Растяжка

                    .timetable-container-row-card-trainer
                        img.timetable-container-row-card-trainer-photo(src="/img/photo/trainer.png")
                        .timetable-container-row-card-trainer-name Евгений
                .timetable-container-row-card
                    .timetable-container-row-card-info
                        .timetable-container-row-card-info-time 07.00 - 08.00
                        .timetable-container-row-card-info-type Soft

                    .timetable-container-row-card-trainer
                        img.timetable-container-row-card-trainer-photo(src="/img/photo/trainer.png")
                        .timetable-container-row-card-trainer-name Евгений
                .timetable-container-row-card
                    .timetable-container-row-card-info
                        .timetable-container-row-card-info-time 07.00 - 08.00
                        .timetable-container-row-card-info-type Soft
                        .timetable-container-row-card-info-type Растяжка
                        .timetable-container-row-card-info-type Растяжка

                    .timetable-container-row-card-trainer
                        img.timetable-container-row-card-trainer-photo(src="/img/photo/trainer.png")
                        .timetable-container-row-card-trainer-name Евгений

            .timetable-container-row
                .timetable-container-row-card
                    .timetable-container-row-card-info
                        .timetable-container-row-card-info-time 07.00 - 08.00
                        .timetable-container-row-card-info-type Soft
                        .timetable-container-row-card-info-type Растяжка

                    .timetable-container-row-card-trainer
                        img.timetable-container-row-card-trainer-photo(src="/img/photo/trainer.png")
                        .timetable-container-row-card-trainer-name Евгений
                .timetable-container-row-card.timetable-container-row-card-empty
                .timetable-container-row-card.timetable-container-row-card-empty Записаться на индивидуальные занятия
                .timetable-container-row-card
                    .timetable-container-row-card-info
                        .timetable-container-row-card-info-time 07.00 - 08.00
                        .timetable-container-row-card-info-type Soft
                        .timetable-container-row-card-info-type Растяжка

                    .timetable-container-row-card-trainer
                        img.timetable-container-row-card-trainer-photo(src="/img/photo/trainer.png")
                        .timetable-container-row-card-trainer-name Евгений
                .timetable-container-row-card
                    .timetable-container-row-card-info
                        .timetable-container-row-card-info-time 07.00 - 08.00
                        .timetable-container-row-card-info-type Soft

                    .timetable-container-row-card-trainer
                        img.timetable-container-row-card-trainer-photo(src="/img/photo/trainer.png")
                        .timetable-container-row-card-trainer-name Евгений
                .timetable-container-row-card
                    .timetable-container-row-card-info
                        .timetable-container-row-card-info-time 07.00 - 08.00
                        .timetable-container-row-card-info-type Soft
                        .timetable-container-row-card-info-type Растяжка
                        .timetable-container-row-card-info-type Растяжка

                    .timetable-container-row-card-trainer
                        img.timetable-container-row-card-trainer-photo(src="/img/photo/trainer.png")
                        .timetable-container-row-card-trainer-name Евгений



!= partial("/_templates/footer-moreinfo")
!= partial("/_templates/footer")