!= partial("/_templates/navbar")
.header-wrapper.header-lessons-wrapper.header-lessons-about-wrapper
    .header.header-lessons.header-lessons-about
        .header-title Расписание и залы
        .header-subtitle Мы помогаем развивать гибкость, силу, баланс взрослым и детям с разным уровнем подготовки для достижений в профессиональной деятельности и в повседневной жизни.
        .education-header-buttons
            .education-header-buttons-el Базовый инструкторский курс
            .education-header-buttons-el Курсы для инструкторов Aplomb

.lessons-about-text-container
    .lessons-about-text-container-left
        .lessons-about-text-container-left-p Что вы получите?
    .lessons-about-text-container-main
        .lessons-about-text-container-main-title Забота о своем теле на каждом занятии
        .lessons-about-text-container-p Вся система занятий Aplomb строится на уважительном отношении к телу и достижение поставленных целей происходит на уровне нейромышечного контроля. Мы используем ощущения и движения в теле как маркеры, которые настраиваем с помощью определенных режимов дыхания. Поэтому получается достигать результатов без боли и травм.
        a.lessons-about-text-container-a(href="#") Подробнее о системе занятий
        .lessons-about-text-container-main-title(style="display: none ; margin-top: 40px") Что вы получите?
        .lessons-about-text-container-p
            .education-basic-element-content
                ul
                    li Сесть на шпагат и встать на мостик
                    li Прогресс в профессиональном танце и спорте
                    li Осознанность, саморазвитие и здоровье
                    li Восстановление после травм
            .lessons-about-text-container-p(style="margin-top: 24px")
                | Уже с первого занятия вы можете почувствовать, как снимается напряжение и тело становится свободней. Эластичность резиновых ремней Aplomb взаимодействует с мышцами, и регулируя ощущения через дыхания вы можете убедится, что нет боли во время растяжки, после и на следующий день.
            .lessons-about-text-container-p Мягкая растяжка с настроенными внутренними процессами даёт глубокие результаты — шпагат без травм, ощущение легкости и наполненности.
        a.lessons-about-text-container-a(href="#") Узнать больше
    .lessons-about-text-container-right
        .lessons-about-text-container-right-r
            .lessons-about-text-container-right-r-p Регулярные занятия
            .lessons-about-text-container-right-r-b с 2015 года
        .lessons-about-text-container-right-r
            .lessons-about-text-container-right-r-b Россия, СНГ
            .lessons-about-text-container-right-r-p  и за их пределами.
        .lessons-about-text-container-right-r(style="margin-top: 64px")
            .lessons-about-text-container-right-r-b(style="margin-bottom: 24px") Lorem ipsum dolor sit amet
            a.lessons-about-text-container-a(href="#") Как начать

.lessons-about-container
    != partial("/_templates/education-autor")
    != partial("/_templates/faq")
    .education-video-container
        .education-video-container
            .vertical-line
            .vertical-line.vertical-line-bottom
            img.education-video-container-el(src="/img/photo/video-preview.png")
            .education-video-container-p Так проходят курсы
            a(href="https://www.youtube.com/watch?v=L7OLY4HCctQ").education-video-container-play.video-popup
                img(src="/img/icon/play.svg")
    != partial("/_templates/education-gallery")
.lessons-reviews-wrapper
    .lessons-reviews
        .lessons-reviews-title Отзывы о занятиях в студии
        .lessons-reviews-slider
            .lessons-reviews-slider-element
                img.lessons-reviews-slider-element-photo(src="/img/photo/reviews-photo.png")
                .lessons-reviews-slider-element-name Zebra-3000
                .lessons-reviews-slider-element-review Вот уже месяц хожу на растяжку в студию к тренеру Евгении,и буду ходить дальше :) Прошла много студий и пробных занятий, но больше всего понравилось здесь : профессиональный подход, без боли и травм, мягкая, но при этом эффективная растяжка! Студия в самом центре города, очень чистая, уютная. Тренер Евгения профессионал своего дела, всегда поможет...
                a.lessons-reviews-slider-element-link(href="#") vk.com/tonystarfox
            .lessons-reviews-slider-element
                img.lessons-reviews-slider-element-photo(src="/img/photo/reviews-photo.png")
                .lessons-reviews-slider-element-name Zebra-3000
                .lessons-reviews-slider-element-review Вот уже месяц хожу на растяжку в студию к тренеру Евгении,и буду ходить дальше :) Прошла много студий и пробных занятий, но больше всего понравилось здесь : профессиональный подход, без боли и травм, мягкая, но при этом эффективная растяжка! Студия в самом центре города, очень чистая, уютная. Тренер Евгения профессионал своего дела, всегда поможет...
                a.lessons-reviews-slider-element-link(href="#") vk.com/tonystarfox
            .lessons-reviews-slider-element
                img.lessons-reviews-slider-element-photo(src="/img/photo/reviews-photo.png")
                .lessons-reviews-slider-element-name Zebra-3000
                .lessons-reviews-slider-element-review Вот уже месяц хожу на растяжку в студию к тренеру Евгении,и буду ходить дальше :) Прошла много студий и пробных занятий, но больше всего понравилось здесь : профессиональный подход, без боли и травм, мягкая, но при этом эффективная растяжка! Студия в самом центре города, очень чистая, уютная. Тренер Евгения профессионал своего дела, всегда поможет...
                a.lessons-reviews-slider-element-link(href="#") vk.com/tonystarfox
            .lessons-reviews-slider-element
                img.lessons-reviews-slider-element-photo(src="/img/photo/reviews-photo.png")
                .lessons-reviews-slider-element-name Zebra-3000
                .lessons-reviews-slider-element-review Вот уже месяц хожу на растяжку в студию к тренеру Евгении,и буду ходить дальше :) Прошла много студий и пробных занятий, но больше всего понравилось здесь : профессиональный подход, без боли и травм, мягкая, но при этом эффективная растяжка! Студия в самом центре города, очень чистая, уютная. Тренер Евгения профессионал своего дела, всегда поможет...
                a.lessons-reviews-slider-element-link(href="#") vk.com/tonystarfox

!= partial("/_templates/faq")
.education-autor.lessons-about-reviews-slider
    .lessons-about-reviews-slider-el
        .education-autor-info
            img.education-autor-info-photo(src="/img/photo/oleg.png")
            .education-autor-info-text Олег Бондарчук автор системы Aplomb
        .education-autor-quote — Основополагающим является настройка тела с помощью ощущений и режимов дыхания, синхронизированных с движениями. Полученный опыт в теле и сформированный навык позволяет начать проводить занятия и получать результаты на занятиях у людей с разным уровнем подготовки. Вам станет понятно, как настраивать тело на разумное восприятие нагрузки и достигать поставленных целей с меньшими усилиями.
    .lessons-about-reviews-slider-el
        .education-autor-info
            img.education-autor-info-photo(src="/img/photo/oleg.png")
            .education-autor-info-text Олег Бондарчук автор системы Aplomb
        .education-autor-quote — Основополагающим является настройка тела с помощью ощущений и режимов дыхания, синхронизированных с движениями. Полученный опыт в теле и сформированный навык позволяет начать проводить занятия и получать результаты на занятиях у людей с разным уровнем подготовки. Вам станет понятно, как настраивать тело на разумное восприятие нагрузки и достигать поставленных целей с меньшими усилиями.
    .lessons-about-reviews-slider-el
        .education-autor-info
            img.education-autor-info-photo(src="/img/photo/oleg.png")
            .education-autor-info-text Олег Бондарчук автор системы Aplomb
        .education-autor-quote — Основополагающим является настройка тела с помощью ощущений и режимов дыхания, синхронизированных с движениями. Полученный опыт в теле и сформированный навык позволяет начать проводить занятия и получать результаты на занятиях у людей с разным уровнем подготовки. Вам станет понятно, как настраивать тело на разумное восприятие нагрузки и достигать поставленных целей с меньшими усилиями.
    .lessons-about-reviews-slider-el
        .education-autor-info
            img.education-autor-info-photo(src="/img/photo/oleg.png")
            .education-autor-info-text Олег Бондарчук автор системы Aplomb
        .education-autor-quote — Основополагающим является настройка тела с помощью ощущений и режимов дыхания, синхронизированных с движениями. Полученный опыт в теле и сформированный навык позволяет начать проводить занятия и получать результаты на занятиях у людей с разным уровнем подготовки. Вам станет понятно, как настраивать тело на разумное восприятие нагрузки и достигать поставленных целей с меньшими усилиями.
!= partial("/_templates/faq")