!= partial("/_templates/navbar")
.header-wrapper.header-lessons-wrapper
    .header.header-lessons
        .header-title Расписание и залы
        .header-subtitle Мы помогаем развивать гибкость, силу, баланс взрослым и детям с разным уровнем подготовки для достижений в профессиональной деятельности и в повседневной жизни.
        .header-lesson-buttons
            a.header-lesson-buttons-el.header-lesson-buttons-active(href="#") Студия Aplomb-Новосибирск
            a.header-lesson-buttons-el(href="#") Все инструкторы и залы
.element-wrapper.lessons-list-wrapper
    .element.lessons-list
        .lessons-list-collumn
            ul
                li Опытные инструкторы с профессиональным образованием
                li В самом центре города (5 мин. пешком от м. пл. Ленина)
                li Полный комплект резиновых ремней и оборудования Aplomb
        .lessons-list-collumn
            ul
                li Опытные инструкторы с профессиональным образованием
                li В самом центре города (5 мин. пешком от м. пл. Ленина)
                li Полный комплект резиновых ремней и оборудования Aplomb
.element-wrapper.timetable-wrapper
    .element.timetable
        .timetable-title Расписание студии
        .timetable-container
            .timetable-container-row
                .timetable-container-row-day ПН
                .timetable-container-row-day ВТ
                .timetable-container-row-day СР
                .timetable-container-row-day ЧТ
                .timetable-container-row-day ПТ
                .timetable-container-row-day СБ
            .timetable-container-row
                .timetable-container-row-card
                    .timetable-container-row-card-info
                        .timetable-container-row-card-info-time 07.00 - 08.00
                        .timetable-container-row-card-info-type Soft
                        .timetable-container-row-card-info-type Растяжка

                    .timetable-container-row-card-trainer
                        img.timetable-container-row-card-trainer-photo(src="/img/photo/trainer.png")
                        .timetable-container-row-card-trainer-name Евгений
                .timetable-container-row-card
                    .timetable-container-row-card-info
                        .timetable-container-row-card-info-time 07.00 - 08.00
                        .timetable-container-row-card-info-type Soft
                        .timetable-container-row-card-info-type Растяжка

                    .timetable-container-row-card-trainer
                        img.timetable-container-row-card-trainer-photo(src="/img/photo/trainer.png")
                        .timetable-container-row-card-trainer-name Евгений
                .timetable-container-row-card
                    .timetable-container-row-card-info
                        .timetable-container-row-card-info-time 07.00 - 08.00
                        .timetable-container-row-card-info-type Soft
                        .timetable-container-row-card-info-type Растяжка

                    .timetable-container-row-card-trainer
                        img.timetable-container-row-card-trainer-photo(src="/img/photo/trainer.png")
                        .timetable-container-row-card-trainer-name Евгений
                .timetable-container-row-card
                    .timetable-container-row-card-info
                        .timetable-container-row-card-info-time 07.00 - 08.00
                        .timetable-container-row-card-info-type Soft
                        .timetable-container-row-card-info-type Растяжка

                    .timetable-container-row-card-trainer
                        img.timetable-container-row-card-trainer-photo(src="/img/photo/trainer.png")
                        .timetable-container-row-card-trainer-name Евгений
                .timetable-container-row-card
                    .timetable-container-row-card-info
                        .timetable-container-row-card-info-time 07.00 - 08.00
                        .timetable-container-row-card-info-type Soft

                    .timetable-container-row-card-trainer
                        img.timetable-container-row-card-trainer-photo(src="/img/photo/trainer.png")
                        .timetable-container-row-card-trainer-name Евгений
                .timetable-container-row-card
                    .timetable-container-row-card-info
                        .timetable-container-row-card-info-time 07.00 - 08.00
                        .timetable-container-row-card-info-type Soft
                        .timetable-container-row-card-info-type Растяжка
                        .timetable-container-row-card-info-type Растяжка

                    .timetable-container-row-card-trainer
                        img.timetable-container-row-card-trainer-photo(src="/img/photo/trainer.png")
                        .timetable-container-row-card-trainer-name Евгений

            .timetable-container-row
                .timetable-container-row-card
                    .timetable-container-row-card-info
                        .timetable-container-row-card-info-time 07.00 - 08.00
                        .timetable-container-row-card-info-type Soft
                        .timetable-container-row-card-info-type Растяжка

                    .timetable-container-row-card-trainer
                        img.timetable-container-row-card-trainer-photo(src="/img/photo/trainer.png")
                        .timetable-container-row-card-trainer-name Евгений
                .timetable-container-row-card.timetable-container-row-card-empty
                .timetable-container-row-card.timetable-container-row-card-empty Записаться на индивидуальные занятия
                .timetable-container-row-card
                    .timetable-container-row-card-info
                        .timetable-container-row-card-info-time 07.00 - 08.00
                        .timetable-container-row-card-info-type Soft
                        .timetable-container-row-card-info-type Растяжка

                    .timetable-container-row-card-trainer
                        img.timetable-container-row-card-trainer-photo(src="/img/photo/trainer.png")
                        .timetable-container-row-card-trainer-name Евгений
                .timetable-container-row-card
                    .timetable-container-row-card-info
                        .timetable-container-row-card-info-time 07.00 - 08.00
                        .timetable-container-row-card-info-type Soft

                    .timetable-container-row-card-trainer
                        img.timetable-container-row-card-trainer-photo(src="/img/photo/trainer.png")
                        .timetable-container-row-card-trainer-name Евгений
                .timetable-container-row-card
                    .timetable-container-row-card-info
                        .timetable-container-row-card-info-time 07.00 - 08.00
                        .timetable-container-row-card-info-type Soft
                        .timetable-container-row-card-info-type Растяжка
                        .timetable-container-row-card-info-type Растяжка

                    .timetable-container-row-card-trainer
                        img.timetable-container-row-card-trainer-photo(src="/img/photo/trainer.png")
                        .timetable-container-row-card-trainer-name Евгений
            .timetable-container-row
                .timetable-container-row-card
                    .timetable-container-row-card-info
                        .timetable-container-row-card-info-time 07.00 - 08.00
                        .timetable-container-row-card-info-type Soft
                        .timetable-container-row-card-info-type Растяжка

                    .timetable-container-row-card-trainer
                        img.timetable-container-row-card-trainer-photo(src="/img/photo/trainer.png")
                        .timetable-container-row-card-trainer-name Евгений
                .timetable-container-row-card.timetable-container-row-card-empty
                .timetable-container-row-card.timetable-container-row-card-empty Записаться на индивидуальные занятия
                .timetable-container-row-card
                    .timetable-container-row-card-info
                        .timetable-container-row-card-info-time 07.00 - 08.00
                        .timetable-container-row-card-info-type Soft
                        .timetable-container-row-card-info-type Растяжка

                    .timetable-container-row-card-trainer
                        img.timetable-container-row-card-trainer-photo(src="/img/photo/trainer.png")
                        .timetable-container-row-card-trainer-name Евгений
                .timetable-container-row-card
                    .timetable-container-row-card-info
                        .timetable-container-row-card-info-time 07.00 - 08.00
                        .timetable-container-row-card-info-type Soft

                    .timetable-container-row-card-trainer
                        img.timetable-container-row-card-trainer-photo(src="/img/photo/trainer.png")
                        .timetable-container-row-card-trainer-name Евгений
                .timetable-container-row-card
                    .timetable-container-row-card-info
                        .timetable-container-row-card-info-time 07.00 - 08.00
                        .timetable-container-row-card-info-type Soft
                        .timetable-container-row-card-info-type Растяжка
                        .timetable-container-row-card-info-type Растяжка

                    .timetable-container-row-card-trainer
                        img.timetable-container-row-card-trainer-photo(src="/img/photo/trainer.png")
                        .timetable-container-row-card-trainer-name Евгений

            .timetable-container-row
                .timetable-container-row-card
                    .timetable-container-row-card-info
                        .timetable-container-row-card-info-time 07.00 - 08.00
                        .timetable-container-row-card-info-type Soft
                        .timetable-container-row-card-info-type Растяжка

                    .timetable-container-row-card-trainer
                        img.timetable-container-row-card-trainer-photo(src="/img/photo/trainer.png")
                        .timetable-container-row-card-trainer-name Евгений
                .timetable-container-row-card.timetable-container-row-card-empty
                .timetable-container-row-card.timetable-container-row-card-empty Записаться на индивидуальные занятия
                .timetable-container-row-card
                    .timetable-container-row-card-info
                        .timetable-container-row-card-info-time 07.00 - 08.00
                        .timetable-container-row-card-info-type Soft
                        .timetable-container-row-card-info-type Растяжка

                    .timetable-container-row-card-trainer
                        img.timetable-container-row-card-trainer-photo(src="/img/photo/trainer.png")
                        .timetable-container-row-card-trainer-name Евгений
                .timetable-container-row-card
                    .timetable-container-row-card-info
                        .timetable-container-row-card-info-time 07.00 - 08.00
                        .timetable-container-row-card-info-type Soft

                    .timetable-container-row-card-trainer
                        img.timetable-container-row-card-trainer-photo(src="/img/photo/trainer.png")
                        .timetable-container-row-card-trainer-name Евгений
                .timetable-container-row-card
                    .timetable-container-row-card-info
                        .timetable-container-row-card-info-time 07.00 - 08.00
                        .timetable-container-row-card-info-type Soft
                        .timetable-container-row-card-info-type Растяжка
                        .timetable-container-row-card-info-type Растяжка

                    .timetable-container-row-card-trainer
                        img.timetable-container-row-card-trainer-photo(src="/img/photo/trainer.png")
                        .timetable-container-row-card-trainer-name Евгений

            .timetable-container-row
                .timetable-container-row-card
                    .timetable-container-row-card-info
                        .timetable-container-row-card-info-time 07.00 - 08.00
                        .timetable-container-row-card-info-type Soft
                        .timetable-container-row-card-info-type Растяжка

                    .timetable-container-row-card-trainer
                        img.timetable-container-row-card-trainer-photo(src="/img/photo/trainer.png")
                        .timetable-container-row-card-trainer-name Евгений
                .timetable-container-row-card.timetable-container-row-card-empty
                .timetable-container-row-card.timetable-container-row-card-empty Записаться на индивидуальные занятия
                .timetable-container-row-card
                    .timetable-container-row-card-info
                        .timetable-container-row-card-info-time 07.00 - 08.00
                        .timetable-container-row-card-info-type Soft
                        .timetable-container-row-card-info-type Растяжка

                    .timetable-container-row-card-trainer
                        img.timetable-container-row-card-trainer-photo(src="/img/photo/trainer.png")
                        .timetable-container-row-card-trainer-name Евгений
                .timetable-container-row-card
                    .timetable-container-row-card-info
                        .timetable-container-row-card-info-time 07.00 - 08.00
                        .timetable-container-row-card-info-type Soft

                    .timetable-container-row-card-trainer
                        img.timetable-container-row-card-trainer-photo(src="/img/photo/trainer.png")
                        .timetable-container-row-card-trainer-name Евгений
                .timetable-container-row-card
                    .timetable-container-row-card-info
                        .timetable-container-row-card-info-time 07.00 - 08.00
                        .timetable-container-row-card-info-type Soft
                        .timetable-container-row-card-info-type Растяжка
                        .timetable-container-row-card-info-type Растяжка

                    .timetable-container-row-card-trainer
                        img.timetable-container-row-card-trainer-photo(src="/img/photo/trainer.png")
                        .timetable-container-row-card-trainer-name Евгений

            .timetable-container-row
                .timetable-container-row-card
                    .timetable-container-row-card-info
                        .timetable-container-row-card-info-time 07.00 - 08.00
                        .timetable-container-row-card-info-type Soft
                        .timetable-container-row-card-info-type Растяжка

                    .timetable-container-row-card-trainer
                        img.timetable-container-row-card-trainer-photo(src="/img/photo/trainer.png")
                        .timetable-container-row-card-trainer-name Евгений
                .timetable-container-row-card.timetable-container-row-card-empty
                .timetable-container-row-card.timetable-container-row-card-empty Записаться на индивидуальные занятия
                .timetable-container-row-card
                    .timetable-container-row-card-info
                        .timetable-container-row-card-info-time 07.00 - 08.00
                        .timetable-container-row-card-info-type Soft
                        .timetable-container-row-card-info-type Растяжка

                    .timetable-container-row-card-trainer
                        img.timetable-container-row-card-trainer-photo(src="/img/photo/trainer.png")
                        .timetable-container-row-card-trainer-name Евгений
                .timetable-container-row-card
                    .timetable-container-row-card-info
                        .timetable-container-row-card-info-time 07.00 - 08.00
                        .timetable-container-row-card-info-type Soft

                    .timetable-container-row-card-trainer
                        img.timetable-container-row-card-trainer-photo(src="/img/photo/trainer.png")
                        .timetable-container-row-card-trainer-name Евгений
                .timetable-container-row-card
                    .timetable-container-row-card-info
                        .timetable-container-row-card-info-time 07.00 - 08.00
                        .timetable-container-row-card-info-type Soft
                        .timetable-container-row-card-info-type Растяжка
                        .timetable-container-row-card-info-type Растяжка

                    .timetable-container-row-card-trainer
                        img.timetable-container-row-card-trainer-photo(src="/img/photo/trainer.png")
                        .timetable-container-row-card-trainer-name Евгений

            .timetable-container-row
                .timetable-container-row-card
                    .timetable-container-row-card-info
                        .timetable-container-row-card-info-time 07.00 - 08.00
                        .timetable-container-row-card-info-type Soft
                        .timetable-container-row-card-info-type Растяжка

                    .timetable-container-row-card-trainer
                        img.timetable-container-row-card-trainer-photo(src="/img/photo/trainer.png")
                        .timetable-container-row-card-trainer-name Евгений
                .timetable-container-row-card.timetable-container-row-card-empty
                .timetable-container-row-card.timetable-container-row-card-empty Записаться на индивидуальные занятия
                .timetable-container-row-card
                    .timetable-container-row-card-info
                        .timetable-container-row-card-info-time 07.00 - 08.00
                        .timetable-container-row-card-info-type Soft
                        .timetable-container-row-card-info-type Растяжка

                    .timetable-container-row-card-trainer
                        img.timetable-container-row-card-trainer-photo(src="/img/photo/trainer.png")
                        .timetable-container-row-card-trainer-name Евгений
                .timetable-container-row-card
                    .timetable-container-row-card-info
                        .timetable-container-row-card-info-time 07.00 - 08.00
                        .timetable-container-row-card-info-type Soft

                    .timetable-container-row-card-trainer
                        img.timetable-container-row-card-trainer-photo(src="/img/photo/trainer.png")
                        .timetable-container-row-card-trainer-name Евгений
                .timetable-container-row-card
                    .timetable-container-row-card-info
                        .timetable-container-row-card-info-time 07.00 - 08.00
                        .timetable-container-row-card-info-type Soft
                        .timetable-container-row-card-info-type Растяжка
                        .timetable-container-row-card-info-type Растяжка

                    .timetable-container-row-card-trainer
                        img.timetable-container-row-card-trainer-photo(src="/img/photo/trainer.png")
                        .timetable-container-row-card-trainer-name Евгений
.element-wrapper.leesons-contacts-wrapper
    .element.lessons-contacts
        .lessons-contact-info
            .lessons-contact-info-title Aplomb
            .lessons-contact-info-subtitle школа-студия растяжки
            .lessons-contact-info-r
                div
                    img.lessons-contact-info-r-ico(src="/img/icon/geo.svg")
                .lessons-contact-info-r-text Максима Горького, 51, цокольный этаж
            .lessons-contact-info-r
                div
                    img.lessons-contact-info-r-ico(src="/img/icon/clock.svg")
                .lessons-contact-info-r-text Пн–сб 7:00–21:00. Вс — выходной
            .lessons-contact-info-r
                div
                    img.lessons-contact-info-r-ico(src="/img/icon/phone1.svg")
                .lessons-contact-info-r-text
                    span +7 (383) 248-88-82
                    span единая справочная - пн-вс 9:00-21:00
            .lessons-contact-info-r
                div
                    img.lessons-contact-info-r-ico(src="/img/icon/phone1.svg")
                .lessons-contact-info-r-text
                    span +7 (383) 248-88-82
                    span единая справочная - пн-вс 9:00-21:00
            .lessons-contact-sm
                a.lessons-contact-sm-el(href="#")
                    img(src="/img/icon/fb-blue.svg")
                a.lessons-contact-sm-el(href="#")
                    img(src="/img/icon/vk-blue.svg")
                a.lessons-contact-sm-el(href="#")
                    img(src="/img/icon/inst-blue.svg")
        .lessons-contact-map
              script(type='text/javascript', charset='utf-8', async='', src='https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A4b573166186480d3f1a826bc887eb7b21373001dbdaab1a462360dd15cc37c06&width=100%25&height=400&lang=ru_RU&scroll=false')

.lessons-pricing
    .lessons-pricing-title Стоимость занятий
    .lessons-pricing-subtitle Абонемент позволяет экономить и мотивирует на продолжительные занятия.
    .lessons-pricing-slider
        .lessons-pricing-slider-left.lessons-pricing-slider-control(onclick="$('.lessons-pricing-slider').flickity('previous')")
            img(src="/img/icon/chevron.svg")
        .lessons-pricing-slider-right.lessons-pricing-slider-control(onclick="$('.lessons-pricing-slider').flickity('next')")
            img(src="/img/icon/chevron.svg")

        .lessons-pricing-slider-element(style="background: #FFA500")
            .lessons-pricing-slider-element-title Первичное занятие
            .lessons-pricing-slider-element-price 300 ₽
            .lessons-pricing-slider-element-discount Экономия -15%  от стоимости одного занятия
            .lessons-pricing-slider-element-button Купить
        .lessons-pricing-slider-element(style="background: #0B276F")
            .lessons-pricing-slider-element-title Первичное занятие
            .lessons-pricing-slider-element-price 300 ₽
            .lessons-pricing-slider-element-discount Экономия -15%  от стоимости одного занятия
            .lessons-pricing-slider-element-button Купить
        .lessons-pricing-slider-element(style="background: #EB5757")
            .lessons-pricing-slider-element-title Первичное занятие
            .lessons-pricing-slider-element-price 300 ₽
            .lessons-pricing-slider-element-discount Экономия -15%  от стоимости одного занятия
            .lessons-pricing-slider-element-button Купить
        .lessons-pricing-slider-element(style="background: #00A3DD")
            .lessons-pricing-slider-element-title Первичное занятие
            .lessons-pricing-slider-element-price 300 ₽
            .lessons-pricing-slider-element-discount Экономия -15%  от стоимости одного занятия
            .lessons-pricing-slider-element-button Купить
        .lessons-pricing-slider-element(style="background: #27AE60")
            .lessons-pricing-slider-element-title Первичное занятие
            .lessons-pricing-slider-element-price 300 ₽
            .lessons-pricing-slider-element-discount Экономия -15%  от стоимости одного занятия
            .lessons-pricing-slider-element-button Купить
        .lessons-pricing-slider-element(style="background: #BB6BD9")
            .lessons-pricing-slider-element-title Первичное занятие
            .lessons-pricing-slider-element-price 300 ₽
            .lessons-pricing-slider-element-discount Экономия -15%  от стоимости одного занятия
            a.lessons-pricing-slider-element-button(href="#") Купить
.lessons-type
    .lessons-type-title Направления занятий
    .spoiler.lessons-type-spoiler.lessons-type-spoiler-first
        .spoiler-title.lessons-type-spoiler
            span
                span Base
                | – занятия для укрепления здоровья и формирования навыков настройки тела.
            img(src="/img/icon/plus.svg")
        .spoiler-body.lessons-type-body
            .spoiler-body.lessons-type-body-p
                .spoiler-body.lessons-type-body-p-title Для кого рекомендованы
                .spoiler-body.lessons-type-body-p-body Рекомендованы для людей, имеющих ограничения по нагрузкам, настроенных на телесное осознание, и на понимание основы движений с дыханием.
            .spoiler-body.lessons-type-body-p
                .spoiler-body.lessons-type-body-p-title Направления
                .spoiler-body.lessons-type-body-p-body Движение и дыхание
                .spoiler-body.lessons-type-body-p-body Гармонизация осанки
                .spoiler-body.lessons-type-body-p-body Растяжка на расслаблении
    .spoiler.lessons-type-spoiler
        .spoiler-title.lessons-type-spoiler
            span
                span Base
                | – занятия для укрепления здоровья и формирования навыков настройки тела.
            img(src="/img/icon/plus.svg")
        .spoiler-body.lessons-type-body
            .spoiler-body.lessons-type-body-p
                .spoiler-body.lessons-type-body-p-title Для кого рекомендованы
                .spoiler-body.lessons-type-body-p-body Рекомендованы для людей, имеющих ограничения по нагрузкам, настроенных на телесное осознание, и на понимание основы движений с дыханием.
            .spoiler-body.lessons-type-body-p
                .spoiler-body.lessons-type-body-p-title Направления
                .spoiler-body.lessons-type-body-p-body Движение и дыхание
                .spoiler-body.lessons-type-body-p-body Гармонизация осанки
                .spoiler-body.lessons-type-body-p-body Растяжка на расслаблении
    .spoiler.lessons-type-spoiler
        .spoiler-title.lessons-type-spoiler
            span
                span Base
                | – занятия для укрепления здоровья и формирования навыков настройки тела.
            img(src="/img/icon/plus.svg")
        .spoiler-body.lessons-type-body
            .spoiler-body.lessons-type-body-p
                .spoiler-body.lessons-type-body-p-title Для кого рекомендованы
                .spoiler-body.lessons-type-body-p-body Рекомендованы для людей, имеющих ограничения по нагрузкам, настроенных на телесное осознание, и на понимание основы движений с дыханием.
            .spoiler-body.lessons-type-body-p
                .spoiler-body.lessons-type-body-p-title Направления
                .spoiler-body.lessons-type-body-p-body Движение и дыхание
                .spoiler-body.lessons-type-body-p-body Гармонизация осанки
                .spoiler-body.lessons-type-body-p-body Растяжка на расслаблении
    .spoiler.lessons-type-spoiler
        .spoiler-title.lessons-type-spoiler
            span
                span Base
                | – занятия для укрепления здоровья и формирования навыков настройки тела.
            img(src="/img/icon/plus.svg")
        .spoiler-body.lessons-type-body
            .spoiler-body.lessons-type-body-p
                .spoiler-body.lessons-type-body-p-title Для кого рекомендованы
                .spoiler-body.lessons-type-body-p-body Рекомендованы для людей, имеющих ограничения по нагрузкам, настроенных на телесное осознание, и на понимание основы движений с дыханием.
            .spoiler-body.lessons-type-body-p
                .spoiler-body.lessons-type-body-p-title Направления
                .spoiler-body.lessons-type-body-p-body Движение и дыхание
                .spoiler-body.lessons-type-body-p-body Гармонизация осанки
                .spoiler-body.lessons-type-body-p-body Растяжка на расслаблении
    .spoiler.lessons-type-spoiler
        .spoiler-title.lessons-type-spoiler
            span
                span Base
                | – занятия для укрепления здоровья и формирования навыков настройки тела.
            img(src="/img/icon/plus.svg")
        .spoiler-body.lessons-type-body
            .spoiler-body.lessons-type-body-p
                .spoiler-body.lessons-type-body-p-title Для кого рекомендованы
                .spoiler-body.lessons-type-body-p-body Рекомендованы для людей, имеющих ограничения по нагрузкам, настроенных на телесное осознание, и на понимание основы движений с дыханием.
            .spoiler-body.lessons-type-body-p
                .spoiler-body.lessons-type-body-p-title Направления
                .spoiler-body.lessons-type-body-p-body Движение и дыхание
                .spoiler-body.lessons-type-body-p-body Гармонизация осанки
                .spoiler-body.lessons-type-body-p-body Растяжка на расслаблении
.lessons-trainer
    .lessons-trainer-title Инструкторы студии
    .lessons-trainer-container
        != partial("/_templates/trainer-card")
        != partial("/_templates/trainer-card")
        != partial("/_templates/trainer-card")
        != partial("/_templates/trainer-card")
.lessons-reviews-wrapper
    .lessons-reviews
        .lessons-reviews-title Отзывы о занятиях в студии
        .lessons-reviews-slider
            .lessons-reviews-slider-element
                img.lessons-reviews-slider-element-photo(src="/img/photo/reviews-photo.png")
                .lessons-reviews-slider-element-name Zebra-3000
                .lessons-reviews-slider-element-review Вот уже месяц хожу на растяжку в студию к тренеру Евгении,и буду ходить дальше :) Прошла много студий и пробных занятий, но больше всего понравилось здесь : профессиональный подход, без боли и травм, мягкая, но при этом эффективная растяжка! Студия в самом центре города, очень чистая, уютная. Тренер Евгения профессионал своего дела, всегда поможет...
                a.lessons-reviews-slider-element-link(href="#") vk.com/tonystarfox
            .lessons-reviews-slider-element
                img.lessons-reviews-slider-element-photo(src="/img/photo/reviews-photo.png")
                .lessons-reviews-slider-element-name Zebra-3000
                .lessons-reviews-slider-element-review Вот уже месяц хожу на растяжку в студию к тренеру Евгении,и буду ходить дальше :) Прошла много студий и пробных занятий, но больше всего понравилось здесь : профессиональный подход, без боли и травм, мягкая, но при этом эффективная растяжка! Студия в самом центре города, очень чистая, уютная. Тренер Евгения профессионал своего дела, всегда поможет...
                a.lessons-reviews-slider-element-link(href="#") vk.com/tonystarfox
            .lessons-reviews-slider-element
                img.lessons-reviews-slider-element-photo(src="/img/photo/reviews-photo.png")
                .lessons-reviews-slider-element-name Zebra-3000
                .lessons-reviews-slider-element-review Вот уже месяц хожу на растяжку в студию к тренеру Евгении,и буду ходить дальше :) Прошла много студий и пробных занятий, но больше всего понравилось здесь : профессиональный подход, без боли и травм, мягкая, но при этом эффективная растяжка! Студия в самом центре города, очень чистая, уютная. Тренер Евгения профессионал своего дела, всегда поможет...
                a.lessons-reviews-slider-element-link(href="#") vk.com/tonystarfox
            .lessons-reviews-slider-element
                img.lessons-reviews-slider-element-photo(src="/img/photo/reviews-photo.png")
                .lessons-reviews-slider-element-name Zebra-3000
                .lessons-reviews-slider-element-review Вот уже месяц хожу на растяжку в студию к тренеру Евгении,и буду ходить дальше :) Прошла много студий и пробных занятий, но больше всего понравилось здесь : профессиональный подход, без боли и травм, мягкая, но при этом эффективная растяжка! Студия в самом центре города, очень чистая, уютная. Тренер Евгения профессионал своего дела, всегда поможет...
                a.lessons-reviews-slider-element-link(href="#") vk.com/tonystarfox
!= partial("/_templates/faq")
!= partial("/_templates/footer-moreinfo")
!= partial("/_templates/footer")