!= partial("/_templates/navbar")
.header-wrapper.header-main-wrapper
    .header.header-main
        .header-main-info
            .header-main-info-title Растяжка без боли
            .header-main-info-subtitle Занятия для выстраивания сбалансированного тела и курсы подготовки инструкторов.
            .header-main-info-buttons
                a.header-button-blue(href="#") Расписание занятий
                a.header-link(href="#") Расписание курсов
        img.header-main-img(src="/img/photo/main-header.png")

!= partial("/_templates/advantages")

.element-wrapper
    .element.main-block-about
        .vertical-line
        .main-block-about-photo
            img.main-block-about-photo-el(src="/img/photo/main-about.png")
            img.main-block-about-photo-play(src="/img/icon/play.svg")
        .main-block-about-info
            .main-block-about-info-title Система Aplomb
            .main-block-about-info-text Мы помогаем развивать гибкость и силу тела для достижения профессиональных успехов детям и взрослым. Делаем растяжку комфортнее, развиваем выносливость без перенапряжения даже тем, кто никогда не занимался. Мы объясняем через движения и ощущения, чтобы вашему телу стало понятно
            a.main-block-about-info-link(href="#") Подробнее о системе

!= partial("/_templates/footer-moreinfo")
!= partial("/_templates/footer")