!= partial("/_templates/navbar")
.header-wrapper.header-main-wrapper
    .header.header-main
        .header-main-info
            .header-main-info-title Растяжка без боли
            .header-main-info-subtitle Занятия для выстраивания сбалансированного тела и курсы подготовки инструкторов.
            .header-main-info-buttons
                a.header-button-blue(href="#") Расписание занятий
                a.header-link(href="#") Расписание курсов
        img.header-main-img(src="/img/photo/main-header.png")
!= partial("/_templates/advantages")
.element-wrapper
    .element.main-block-about
        .vertical-line
        .main-block-about-photo
            img.main-block-about-photo-el(src="/img/photo/main-about.png")
            a.main-block-about-photo-play(href="#")
                img(src="/img/icon/play.svg")
        .main-block-about-info
            .main-block-about-info-title Система Aplomb
            .main-block-about-info-text Мы помогаем развивать гибкость и силу тела для достижения профессиональных успехов детям и взрослым. Делаем растяжку комфортнее, развиваем выносливость без перенапряжения даже тем, кто никогда не занимался. Мы объясняем через движения и ощущения, чтобы вашему телу стало понятно
            a.main-block-about-info-link(href="#") Подробнее о системе
.element-wrapper(style="background: #EDFAFF;")
    .element.main-block-lessons
        .vertical-line
        .main-block-lessons-info
            .main-block-lessons-info-subtitle шпагат с нуля
            .main-block-lessons-info-title Занятия для гибкости и позитива
            .main-block-lessons-info-container
                .main-block-lessons-info-text Для новичков и тех, кому важен результат!
                .main-block-lessons-info-buttons
                    a.header-button-blue(href="#") Расписание занятий
        .main-block-lessons-slider
            .main-block-lessons-slider-container#MainLessonsSlider
                .main-block-lessons-slider-container-element
                    img.main-block-lessons-slider-container-element-photo(src="/img/photo/main-slider.png")
                    .main-block-lessons-slider-container-element-quote «Для меня открылся целый мир общения с телом...»
                    .main-block-lessons-slider-container-element-name Елена, бухгалтер
                .main-block-lessons-slider-container-element
                    img.main-block-lessons-slider-container-element-photo(src="/img/photo/main-slider.png")
                    .main-block-lessons-slider-container-element-quote «Для меня открылся целый мир общения с телом...»
                    .main-block-lessons-slider-container-element-name Елена, бухгалтер
                .main-block-lessons-slider-container-element
                    img.main-block-lessons-slider-container-element-photo(src="/img/photo/main-slider.png")
                    .main-block-lessons-slider-container-element-quote «Для меня открылся целый мир общения с телом...»
                    .main-block-lessons-slider-container-element-name Елена, бухгалтер
            .main-block-lessons-slider-control
                img.main-block-lessons-slider-control-left(src="/img/icon/chevron.svg" onclick="$('#MainLessonsSlider').flickity( 'previous' )")
                img.main-block-lessons-slider-control-right(src="/img/icon/chevron.svg" onclick="$('#MainLessonsSlider').flickity( 'next' )")
.element-wrapper(style="background: #FFF0F0;")
    .element.main-block-lessons.main-block-lessons-reverse
        .vertical-line
        .main-block-lessons-info
            .main-block-lessons-info-subtitle Фундаментальные навыки профессионала
            .main-block-lessons-info-title Обучение для инструкторов
            .main-block-lessons-info-container
                .main-block-lessons-info-text Интенсивная программа подготовки профессиональных инструкторов. За 5 дней вы освоите азы профессии, прокачаете основы внутреннего дыхания, освоите понимание линейных ощущений и ключевые упражнения
                .main-block-lessons-info-date Ближайший базовый инструкторский курс 22–26 июня в Новосибирске
                .main-block-lessons-info-buttons
                    a.header-button-blue(href="#") Расписание занятий
                    a.header-link(href="#") Или выберите другой курс
        .main-block-lessons-slider
            .main-block-lessons-slider-container#MainLessonsSliderReverse
                .main-block-lessons-slider-container-element
                    img.main-block-lessons-slider-container-element-photo(src="/img/photo/main-slider.png")
                    .main-block-lessons-slider-container-element-quote «Для меня открылся целый мир общения с телом...»
                    .main-block-lessons-slider-container-element-name Елена, бухгалтер
                .main-block-lessons-slider-container-element
                    img.main-block-lessons-slider-container-element-photo(src="/img/photo/main-slider.png")
                    .main-block-lessons-slider-container-element-quote «Для меня открылся целый мир общения с телом...»
                    .main-block-lessons-slider-container-element-name Елена, бухгалтер
                .main-block-lessons-slider-container-element
                    img.main-block-lessons-slider-container-element-photo(src="/img/photo/main-slider.png")
                    .main-block-lessons-slider-container-element-quote «Для меня открылся целый мир общения с телом...»
                    .main-block-lessons-slider-container-element-name Елена, бухгалтер
            .main-block-lessons-slider-control
                img.main-block-lessons-slider-control-left(src="/img/icon/chevron.svg" onclick="$('#MainLessonsSliderReverse').flickity( 'previous' )")
                img.main-block-lessons-slider-control-right(src="/img/icon/chevron.svg" onclick="$('#MainLessonsSliderReverse').flickity( 'next' )")
.coming-courses
    .coming-courses-title Ближайшие курсы
    .coming-courses-slider
        .coming-courses-slider-element(style="background: #DBD7F8")
            .coming-courses-slider-element-title Шпагатный интенсив
            .coming-courses-slider-element-text Модуль предполагает расширенное изучение направлений методики, с большим количеством упражнений и усложнений
            .coming-courses-slider-element-date 21–23 августа в Москве
        .coming-courses-slider-element(style="background: #BCD2A0")
            .coming-courses-slider-element-title Шпагатный интенсив
            .coming-courses-slider-element-text Модуль предполагает расширенное изучение направлений методики, с большим количеством упражнений и усложнений
            .coming-courses-slider-element-date 21–23 августа в Москве
        .coming-courses-slider-element(style="background: #CDE7F8")
            .coming-courses-slider-element-title Шпагатный интенсив
            .coming-courses-slider-element-text Модуль предполагает расширенное изучение направлений методики, с большим количеством упражнений и усложнений
            .coming-courses-slider-element-date 21–23 августа в Москве
        .coming-courses-slider-element(style="background: #DBD7F8")
            .coming-courses-slider-element-title Шпагатный интенсив
            .coming-courses-slider-element-text Модуль предполагает расширенное изучение направлений методики, с большим количеством упражнений и усложнений
            .coming-courses-slider-element-date 21–23 августа в Москве
        .coming-courses-slider-element(style="background: #BCD2A0")
            .coming-courses-slider-element-title Шпагатный интенсив
            .coming-courses-slider-element-text Модуль предполагает расширенное изучение направлений методики, с большим количеством упражнений и усложнений
            .coming-courses-slider-element-date 21–23 августа в Москве
        .coming-courses-slider-element(style="background: #CDE7F8")
            .coming-courses-slider-element-title Шпагатный интенсив
            .coming-courses-slider-element-text Модуль предполагает расширенное изучение направлений методики, с большим количеством упражнений и усложнений
            .coming-courses-slider-element-date 21–23 августа в Москве

!= partial("/_templates/reviews-slider")
.element-wrapper.equipment-wrapper
    .element.equipment
        .equipment-title Правильное оборудование
        .equipment-container
            .equipment-container-card
                img.equipment-container-card-photo(src="/img/photo/kids-red.png")
                .equipment-container-card-info
                    .equipment-container-card-info-title Kids оранжевый
                    .equipment-container-card-info-specs
                        .equipment-container-card-info-specs-level
                            img(src="/img/icon/level.svg")
                            | 1 уровень
                        .equipment-container-card-info-specs-weight
                            img(src="/img/icon/weight.svg")
                            | 24 кг
                    .equipment-container-card-info-rating
                        .equipment-container-card-info-rating-start
                            img(src="/img/icon/star-full.svg")
                            img(src="/img/icon/star-full.svg")
                            img(src="/img/icon/star-full.svg")
                            img(src="/img/icon/star-full.svg")
                            img(src="/img/icon/star.svg")
                        .equipment-container-card-info-rating-comment
                            img(src="/img/icon/comment.svg")
                            | 64
                    .equipment-container-card-info-price 2 500₽
            .equipment-container-card
                img.equipment-container-card-photo(src="/img/photo/kids-red.png")
                .equipment-container-card-info
                    .equipment-container-card-info-title Kids оранжевый
                    .equipment-container-card-info-specs
                        .equipment-container-card-info-specs-level
                            img(src="/img/icon/level.svg")
                            | 1 уровень
                        .equipment-container-card-info-specs-weight
                            img(src="/img/icon/weight.svg")
                            | 24 кг
                    .equipment-container-card-info-rating
                        .equipment-container-card-info-rating-start
                            img(src="/img/icon/star-full.svg")
                            img(src="/img/icon/star-full.svg")
                            img(src="/img/icon/star-full.svg")
                            img(src="/img/icon/star-full.svg")
                            img(src="/img/icon/star.svg")
                        .equipment-container-card-info-rating-comment
                            img(src="/img/icon/comment.svg")
                            | 64
                    .equipment-container-card-info-price 2 500 ₽
            .equipment-container-card
                img.equipment-container-card-photo(src="/img/photo/kids-red.png")
                .equipment-container-card-info
                    .equipment-container-card-info-title Kids оранжевый
                    .equipment-container-card-info-specs
                        .equipment-container-card-info-specs-level
                            img(src="/img/icon/level.svg")
                            | 1 уровень
                        .equipment-container-card-info-specs-weight
                            img(src="/img/icon/weight.svg")
                            | 24 кг
                    .equipment-container-card-info-rating
                        .equipment-container-card-info-rating-start
                            img(src="/img/icon/star-full.svg")
                            img(src="/img/icon/star-full.svg")
                            img(src="/img/icon/star-full.svg")
                            img(src="/img/icon/star-full.svg")
                            img(src="/img/icon/star.svg")
                        .equipment-container-card-info-rating-comment
                            img(src="/img/icon/comment.svg")
                            | 64
                    .equipment-container-card-info-price 2 500₽
            .equipment-container-card
                img.equipment-container-card-photo(src="/img/photo/kids-red.png")
                .equipment-container-card-info
                    .equipment-container-card-info-title Kids оранжевый
                    .equipment-container-card-info-specs
                        .equipment-container-card-info-specs-level
                            img(src="/img/icon/level.svg")
                            | 1 уровень
                        .equipment-container-card-info-specs-weight
                            img(src="/img/icon/weight.svg")
                            | 24 кг
                    .equipment-container-card-info-rating
                        .equipment-container-card-info-rating-start
                            img(src="/img/icon/star-full.svg")
                            img(src="/img/icon/star-full.svg")
                            img(src="/img/icon/star-full.svg")
                            img(src="/img/icon/star-full.svg")
                            img(src="/img/icon/star.svg")
                        .equipment-container-card-info-rating-comment
                            img(src="/img/icon/comment.svg")
                            | 64
                    .equipment-container-card-info-price 2 500₽
.element-wrapper.special-for-you-wrapper
    .element.special-for-you
        .special-for-you-title Специально для вас
        .special-for-you-subtitle Мы разработаем специализированные курсы, проведём мастер-классы и совместно организуем индивидуальное обучение.
        .special-for-you-tabs#tabs
            .special-for-you-tabs-panel-wrapper
                ul.special-for-you-tabs-panel
                    li
                        a(href="#tab1")
                            svg(width='51', height='21', viewBox='0 0 51 21', fill='none', xmlns='http://www.w3.org/2000/svg')
                                path(d='M5.79383 6.61707H20.5072C22.0944 6.61707 25.7727 7.02018 25.7727 10.8245C25.7727 13.747 23.3541 15.2838 20.9859 15.2838H19.3231V9.23726H16.9296V17.6773H20.9859C24.4626 17.6773 28.1662 15.2838 28.1662 10.8245C28.1662 6.81862 25.1681 4.22363 20.5072 4.22363H3.42558L3.40039 11.5047H12.4955V9.11129H5.79383V6.61707Z', fill='#828282')
                                path(d='M3.40039 20.8008H5.79383V14.9305H12.4451V12.5371H3.42558L3.40039 20.8008Z', fill='#828282')
                                path(d='M31.7697 12.8899C33.7097 10.0178 37.9927 3.61852 39.6051 1.19989H36.733C35.2969 3.31619 33.1554 6.54103 31.4422 9.08563C31.3918 8.60695 31.2911 8.15345 31.1651 7.72515C29.8046 3.76968 26.8821 1.40144 22.6243 0.897557C19.9285 0.620422 16.1494 0.645616 12.8238 0.645616C12.1435 0.645616 11.4633 0.645616 10.8587 0.645616H0.0251941L0 20.8009H2.39344L2.41863 3.06425H10.8335C11.4633 3.06425 12.1184 3.06425 12.8238 3.06425C16.099 3.03905 19.8025 3.03905 22.3472 3.31619C26.1263 3.74449 27.9906 5.98676 28.8724 8.53136C29.2503 9.6399 29.4015 11.2271 28.8976 12.8647C25.7484 17.4249 24.5138 18.2815 20.3568 18.2815H15.9227V9.2116H13.5292V20.6749H20.3568C26.227 20.6749 27.8647 18.6846 31.7697 12.8899Z', fill='#828282')
                                path(d='M50.7422 16.2916L42.3526 1.22559H39.6316L49.2054 18.4583H35.2227V20.8518H47.7189L49.3061 18.4583L50.7422 16.2916Z', fill='#828282')
                                path(d='M43.285 15.2086H35.374V17.602H47.3664L39.4051 3.39258L27.7402 20.8269H30.6124L39.2287 7.95271L43.285 15.2086Z', fill='#828282')
                    li
                        a(href="#tab2")
                            svg(width='51', height='21', viewBox='0 0 51 21', fill='none', xmlns='http://www.w3.org/2000/svg')
                                path(d='M5.79383 6.61707H20.5072C22.0944 6.61707 25.7727 7.02018 25.7727 10.8245C25.7727 13.747 23.3541 15.2838 20.9859 15.2838H19.3231V9.23726H16.9296V17.6773H20.9859C24.4626 17.6773 28.1662 15.2838 28.1662 10.8245C28.1662 6.81862 25.1681 4.22363 20.5072 4.22363H3.42558L3.40039 11.5047H12.4955V9.11129H5.79383V6.61707Z', fill='#828282')
                                path(d='M3.40039 20.8008H5.79383V14.9305H12.4451V12.5371H3.42558L3.40039 20.8008Z', fill='#828282')
                                path(d='M31.7697 12.8899C33.7097 10.0178 37.9927 3.61852 39.6051 1.19989H36.733C35.2969 3.31619 33.1554 6.54103 31.4422 9.08563C31.3918 8.60695 31.2911 8.15345 31.1651 7.72515C29.8046 3.76968 26.8821 1.40144 22.6243 0.897557C19.9285 0.620422 16.1494 0.645616 12.8238 0.645616C12.1435 0.645616 11.4633 0.645616 10.8587 0.645616H0.0251941L0 20.8009H2.39344L2.41863 3.06425H10.8335C11.4633 3.06425 12.1184 3.06425 12.8238 3.06425C16.099 3.03905 19.8025 3.03905 22.3472 3.31619C26.1263 3.74449 27.9906 5.98676 28.8724 8.53136C29.2503 9.6399 29.4015 11.2271 28.8976 12.8647C25.7484 17.4249 24.5138 18.2815 20.3568 18.2815H15.9227V9.2116H13.5292V20.6749H20.3568C26.227 20.6749 27.8647 18.6846 31.7697 12.8899Z', fill='#828282')
                                path(d='M50.7422 16.2916L42.3526 1.22559H39.6316L49.2054 18.4583H35.2227V20.8518H47.7189L49.3061 18.4583L50.7422 16.2916Z', fill='#828282')
                                path(d='M43.285 15.2086H35.374V17.602H47.3664L39.4051 3.39258L27.7402 20.8269H30.6124L39.2287 7.95271L43.285 15.2086Z', fill='#828282')
                    li
                        a(href="#tab3")
                            svg(width='51', height='21', viewBox='0 0 51 21', fill='none', xmlns='http://www.w3.org/2000/svg')
                                path(d='M5.79383 6.61707H20.5072C22.0944 6.61707 25.7727 7.02018 25.7727 10.8245C25.7727 13.747 23.3541 15.2838 20.9859 15.2838H19.3231V9.23726H16.9296V17.6773H20.9859C24.4626 17.6773 28.1662 15.2838 28.1662 10.8245C28.1662 6.81862 25.1681 4.22363 20.5072 4.22363H3.42558L3.40039 11.5047H12.4955V9.11129H5.79383V6.61707Z', fill='#828282')
                                path(d='M3.40039 20.8008H5.79383V14.9305H12.4451V12.5371H3.42558L3.40039 20.8008Z', fill='#828282')
                                path(d='M31.7697 12.8899C33.7097 10.0178 37.9927 3.61852 39.6051 1.19989H36.733C35.2969 3.31619 33.1554 6.54103 31.4422 9.08563C31.3918 8.60695 31.2911 8.15345 31.1651 7.72515C29.8046 3.76968 26.8821 1.40144 22.6243 0.897557C19.9285 0.620422 16.1494 0.645616 12.8238 0.645616C12.1435 0.645616 11.4633 0.645616 10.8587 0.645616H0.0251941L0 20.8009H2.39344L2.41863 3.06425H10.8335C11.4633 3.06425 12.1184 3.06425 12.8238 3.06425C16.099 3.03905 19.8025 3.03905 22.3472 3.31619C26.1263 3.74449 27.9906 5.98676 28.8724 8.53136C29.2503 9.6399 29.4015 11.2271 28.8976 12.8647C25.7484 17.4249 24.5138 18.2815 20.3568 18.2815H15.9227V9.2116H13.5292V20.6749H20.3568C26.227 20.6749 27.8647 18.6846 31.7697 12.8899Z', fill='#828282')
                                path(d='M50.7422 16.2916L42.3526 1.22559H39.6316L49.2054 18.4583H35.2227V20.8518H47.7189L49.3061 18.4583L50.7422 16.2916Z', fill='#828282')
                                path(d='M43.285 15.2086H35.374V17.602H47.3664L39.4051 3.39258L27.7402 20.8269H30.6124L39.2287 7.95271L43.285 15.2086Z', fill='#828282')
                    li
                        a(href="#tab4")
                            svg(width='51', height='21', viewBox='0 0 51 21', fill='none', xmlns='http://www.w3.org/2000/svg')
                                path(d='M5.79383 6.61707H20.5072C22.0944 6.61707 25.7727 7.02018 25.7727 10.8245C25.7727 13.747 23.3541 15.2838 20.9859 15.2838H19.3231V9.23726H16.9296V17.6773H20.9859C24.4626 17.6773 28.1662 15.2838 28.1662 10.8245C28.1662 6.81862 25.1681 4.22363 20.5072 4.22363H3.42558L3.40039 11.5047H12.4955V9.11129H5.79383V6.61707Z', fill='#828282')
                                path(d='M3.40039 20.8008H5.79383V14.9305H12.4451V12.5371H3.42558L3.40039 20.8008Z', fill='#828282')
                                path(d='M31.7697 12.8899C33.7097 10.0178 37.9927 3.61852 39.6051 1.19989H36.733C35.2969 3.31619 33.1554 6.54103 31.4422 9.08563C31.3918 8.60695 31.2911 8.15345 31.1651 7.72515C29.8046 3.76968 26.8821 1.40144 22.6243 0.897557C19.9285 0.620422 16.1494 0.645616 12.8238 0.645616C12.1435 0.645616 11.4633 0.645616 10.8587 0.645616H0.0251941L0 20.8009H2.39344L2.41863 3.06425H10.8335C11.4633 3.06425 12.1184 3.06425 12.8238 3.06425C16.099 3.03905 19.8025 3.03905 22.3472 3.31619C26.1263 3.74449 27.9906 5.98676 28.8724 8.53136C29.2503 9.6399 29.4015 11.2271 28.8976 12.8647C25.7484 17.4249 24.5138 18.2815 20.3568 18.2815H15.9227V9.2116H13.5292V20.6749H20.3568C26.227 20.6749 27.8647 18.6846 31.7697 12.8899Z', fill='#828282')
                                path(d='M50.7422 16.2916L42.3526 1.22559H39.6316L49.2054 18.4583H35.2227V20.8518H47.7189L49.3061 18.4583L50.7422 16.2916Z', fill='#828282')
                                path(d='M43.285 15.2086H35.374V17.602H47.3664L39.4051 3.39258L27.7402 20.8269H30.6124L39.2287 7.95271L43.285 15.2086Z', fill='#828282')
                    li
                        a(href="#tab5")
                            svg(width='51', height='21', viewBox='0 0 51 21', fill='none', xmlns='http://www.w3.org/2000/svg')
                                path(d='M5.79383 6.61707H20.5072C22.0944 6.61707 25.7727 7.02018 25.7727 10.8245C25.7727 13.747 23.3541 15.2838 20.9859 15.2838H19.3231V9.23726H16.9296V17.6773H20.9859C24.4626 17.6773 28.1662 15.2838 28.1662 10.8245C28.1662 6.81862 25.1681 4.22363 20.5072 4.22363H3.42558L3.40039 11.5047H12.4955V9.11129H5.79383V6.61707Z', fill='#828282')
                                path(d='M3.40039 20.8008H5.79383V14.9305H12.4451V12.5371H3.42558L3.40039 20.8008Z', fill='#828282')
                                path(d='M31.7697 12.8899C33.7097 10.0178 37.9927 3.61852 39.6051 1.19989H36.733C35.2969 3.31619 33.1554 6.54103 31.4422 9.08563C31.3918 8.60695 31.2911 8.15345 31.1651 7.72515C29.8046 3.76968 26.8821 1.40144 22.6243 0.897557C19.9285 0.620422 16.1494 0.645616 12.8238 0.645616C12.1435 0.645616 11.4633 0.645616 10.8587 0.645616H0.0251941L0 20.8009H2.39344L2.41863 3.06425H10.8335C11.4633 3.06425 12.1184 3.06425 12.8238 3.06425C16.099 3.03905 19.8025 3.03905 22.3472 3.31619C26.1263 3.74449 27.9906 5.98676 28.8724 8.53136C29.2503 9.6399 29.4015 11.2271 28.8976 12.8647C25.7484 17.4249 24.5138 18.2815 20.3568 18.2815H15.9227V9.2116H13.5292V20.6749H20.3568C26.227 20.6749 27.8647 18.6846 31.7697 12.8899Z', fill='#828282')
                                path(d='M50.7422 16.2916L42.3526 1.22559H39.6316L49.2054 18.4583H35.2227V20.8518H47.7189L49.3061 18.4583L50.7422 16.2916Z', fill='#828282')
                                path(d='M43.285 15.2086H35.374V17.602H47.3664L39.4051 3.39258L27.7402 20.8269H30.6124L39.2287 7.95271L43.285 15.2086Z', fill='#828282')
            .special-for-you-tabs-container
                .special-for-you-tabs-container-tab#tab1
                    img(src="/img/photo/specialforyou.png")
                    .special-for-you-tabs-container-tab-info
                        .special-for-you-tabs-container-tab-info-title Хоккейный клуб «Амур»
                        .special-for-you-tabs-container-tab-info-text Разработан специализированный курс для проведения групповых занятий с профессиональными хоккеистами. Проведена серия занятий
                .special-for-you-tabs-container-tab#tab2
                    img(src="/img/photo/specialforyou.png")
                    .special-for-you-tabs-container-tab-info
                        .special-for-you-tabs-container-tab-info-title Хоккейный клуб «Амур» 2
                        .special-for-you-tabs-container-tab-info-text Разработан специализированный курс для проведения групповых занятий с профессиональными хоккеистами. Проведена серия занятий
                .special-for-you-tabs-container-tab#tab3
                    img(src="/img/photo/specialforyou.png")
                    .special-for-you-tabs-container-tab-info
                        .special-for-you-tabs-container-tab-info-title Хоккейный клуб «Амур» 3
                        .special-for-you-tabs-container-tab-info-text Разработан специализированный курс для проведения групповых занятий с профессиональными хоккеистами. Проведена серия занятий
                .special-for-you-tabs-container-tab#tab4
                    img(src="/img/photo/specialforyou.png")
                    .special-for-you-tabs-container-tab-info
                        .special-for-you-tabs-container-tab-info-title Хоккейный клуб «Амур» 4
                        .special-for-you-tabs-container-tab-info-text Разработан специализированный курс для проведения групповых занятий с профессиональными хоккеистами. Проведена серия занятий
                .special-for-you-tabs-container-tab#tab5
                    img(src="/img/photo/specialforyou.png")
                    .special-for-you-tabs-container-tab-info
                        .special-for-you-tabs-container-tab-info-title Хоккейный клуб «Амур» 5
                        .special-for-you-tabs-container-tab-info-text Разработан специализированный курс для проведения групповых занятий с профессиональными хоккеистами. Проведена серия занятий
        a.header-button-blue(href="#") Индивидуальный курс



!= partial("/_templates/footer-moreinfo")
!= partial("/_templates/footer")