!= partial("/_templates/navbar")
.header-wrapper.header-main-wrapper
    .header.header-main
        .header-main-info
            .header-main-info-title Растяжка без боли
            .header-main-info-subtitle Занятия для выстраивания сбалансированного тела и курсы подготовки инструкторов.
            .header-main-info-buttons
                a.header-button-blue(href="#") Расписание занятий
                a.header-link(href="#") Расписание курсов
        img.header-main-img(src="/img/photo/main-header.png")
!= partial("/_templates/footer-moreinfo")
!= partial("/_templates/footer")