.element-wrapper.advantages-wrapper
    .element.advantages
        .advantages-element
            img.advatages-element-icon(src="/img/icon/advantages1.svg")
            .advatages-element-title Легко начать даже новичку
            .advatages-element-subtitle Делаем растяжку комфортнее, выносливость без перенапряжения даже тем, кто никогда не занимался.
        .advantages-element
            img.advatages-element-icon(src="/img/icon/advantages2.svg")
            .advatages-element-title Результат без боли
            .advatages-element-subtitle Научим управляемому расслаблению, осознанному движению и настраиваемому дыханию для развития без травм.
        .advantages-element
            img.advatages-element-icon(src="/img/icon/advantages3.svg")
            .advatages-element-title Основано на науке
            .advatages-element-subtitle Запатентованный способ тренировки мышц с помощью резиновых ремней.
