.education-autor
    .education-autor-info
        img.education-autor-info-photo(src="/img/photo/oleg.png")
        .education-autor-info-text Олег Бондарчук автор системы Aplomb
    .education-autor-quote — Основополагающим является настройка тела с помощью ощущений и режимов дыхания, синхронизированных с движениями. Полученный опыт в теле и сформированный навык позволяет начать проводить занятия и получать результаты на занятиях у людей с разным уровнем подготовки. Вам станет понятно, как настраивать тело на разумное восприятие нагрузки и достигать поставленных целей с меньшими усилиями.