.education-gallery
    img.education-gallery-element(src="/img/photo/gallery.png")
    img.education-gallery-element(src="/img/photo/gallery.png")
    img.education-gallery-element(src="/img/photo/gallery.png")
    img.education-gallery-element(src="/img/photo/gallery.png")
    img.education-gallery-element(src="/img/photo/gallery.png")
    img.education-gallery-element(src="/img/photo/gallery.png")
    img.education-gallery-element(src="/img/photo/gallery.png")
    img.education-gallery-element(src="/img/photo/gallery.png")
    .education-gallery-text Так проходят регулярные занятия