.element-wrapper.education-timetable-wrapper
    .element.education-timetable
        .education-timetable-filters
            .education-timetable-period
                .education-timetable-period-text Период
                .education-timetable-period-text-bold 2019 г.
            .lessons-trainers-page-filters-town.education-timetable-select
                select.lessons-trainers-page-filters-town-el
                    option(disabled , selected="selected") Все города
                    option Санкт-Петербург
                    option Москва
                    option Брянск
                    option Псков
                    option Опочка
                img(src="/img/icon/chevron-down.svg")
            .lessons-trainers-page-filters-town.education-timetable-select
                select.lessons-trainers-page-filters-town-el
                    option(disabled , selected="selected") Для всех уровней подготовки
                    option 1
                    option 2
                    option 3
                    option 4
                img(src="/img/icon/chevron-down.svg")
        .education-timetable-container
            .education-timetable-container-spoiler.spoiler
                .education-showmore.spoiler-title
                    span.education-showmore-open Подробнее
                    span.education-showmore-close Свернуть
                    img.education-showmore-chevron(src="/img/icon/chevron.svg")
                .education-timetable-container-spoiler-r1
                    .education-timetable-container-spoiler1-c1
                        .education-timetable-container-spoiler1-c1-date 22–26 июня 2020
                        .education-timetable-container-spoiler1-c1-town Санкт-Петербург
                    .education-timetable-container-spoiler1-c2
                        .education-timetable-container-spoiler1-c2-name Хореографический модуль
                        .education-timetable-container-spoiler1-c2-status Идет запись
                    .education-timetable-container-spoiler1-c3
                        .education-timetable-container-spoiler1-c3-price 30 000 ₽
                        .education-timetable-container-spoiler1-c3-prepay Предоплата 6 000 ₽
                    .education-timetable-container-spoiler1-c3-button Записатся
                .education-timetable-container-spoiler-r2
                    .education-timetable-container-spoiler-r2-c1
                        .education-timetable-container-spoiler-r2-c1-key Адрес:
                        .education-timetable-container-spoiler-r2-c1-val Максима Горького, 51, цокольный этаж
                        .education-timetable-container-spoiler-r2-c1-key Время проведения курса:
                        .education-timetable-container-spoiler-r2-c1-val 5 дней с 13 по 17 июня, с 10:00 до 17:00 часов.
                        .education-timetable-container-spoiler-r2-c1-key.education-timetable-container-spoiler-r2-c1-key-inline Преподаватель:
                        .education-timetable-container-spoiler-r2-c1-val.education-timetable-container-spoiler-r2-c1-val-inline Олег Бондарчук.
                            a(href="#") Напишите
                            | , чтобы получить консультацию.
                    .education-timetable-container-spoiler-r2-c2 Модуль Хореографический по дополнительным направлениям системы Aplomb
            .education-timetable-container-spoiler.spoiler
                .education-showmore.spoiler-title
                    span.education-showmore-open Подробнее
                    span.education-showmore-close Свернуть
                    img.education-showmore-chevron(src="/img/icon/chevron.svg")
                .education-timetable-container-spoiler-r1
                    .education-timetable-container-spoiler1-c1
                        .education-timetable-container-spoiler1-c1-date 22–26 июня 2020
                        .education-timetable-container-spoiler1-c1-town Санкт-Петербург
                    .education-timetable-container-spoiler1-c2
                        .education-timetable-container-spoiler1-c2-name Хореографический модуль
                        .education-timetable-container-spoiler1-c2-status Идет запись
                    .education-timetable-container-spoiler1-c3
                        .education-timetable-container-spoiler1-c3-price 30 000 ₽
                        .education-timetable-container-spoiler1-c3-prepay Предоплата 6 000 ₽
                    .education-timetable-container-spoiler1-c3-button Записатся
                .education-timetable-container-spoiler-r2
                    .education-timetable-container-spoiler-r2-c1
                        .education-timetable-container-spoiler-r2-c1-key Адрес:
                        .education-timetable-container-spoiler-r2-c1-val Максима Горького, 51, цокольный этаж
                        .education-timetable-container-spoiler-r2-c1-key Время проведения курса:
                        .education-timetable-container-spoiler-r2-c1-val 5 дней с 13 по 17 июня, с 10:00 до 17:00 часов.
                        .education-timetable-container-spoiler-r2-c1-key.education-timetable-container-spoiler-r2-c1-key-inline Преподаватель:
                        .education-timetable-container-spoiler-r2-c1-val.education-timetable-container-spoiler-r2-c1-val-inline Олег Бондарчук.
                            a(href="#") Напишите
                            | , чтобы получить консультацию.
                    .education-timetable-container-spoiler-r2-c2 Модуль Хореографический по дополнительным направлениям системы Aplomb
            .education-timetable-container-spoiler.spoiler
                .education-showmore.spoiler-title
                    span.education-showmore-open Подробнее
                    span.education-showmore-close Свернуть
                    img.education-showmore-chevron(src="/img/icon/chevron.svg")
                .education-timetable-container-spoiler-r1
                    .education-timetable-container-spoiler1-c1
                        .education-timetable-container-spoiler1-c1-date 22–26 июня 2020
                        .education-timetable-container-spoiler1-c1-town Санкт-Петербург
                    .education-timetable-container-spoiler1-c2
                        .education-timetable-container-spoiler1-c2-name Хореографический модуль
                        .education-timetable-container-spoiler1-c2-status Идет запись
                    .education-timetable-container-spoiler1-c3
                        .education-timetable-container-spoiler1-c3-price 30 000 ₽
                        .education-timetable-container-spoiler1-c3-prepay Предоплата 6 000 ₽
                    .education-timetable-container-spoiler1-c3-button Записатся
                .education-timetable-container-spoiler-r2
                    .education-timetable-container-spoiler-r2-c1
                        .education-timetable-container-spoiler-r2-c1-key Адрес:
                        .education-timetable-container-spoiler-r2-c1-val Максима Горького, 51, цокольный этаж
                        .education-timetable-container-spoiler-r2-c1-key Время проведения курса:
                        .education-timetable-container-spoiler-r2-c1-val 5 дней с 13 по 17 июня, с 10:00 до 17:00 часов.
                        .education-timetable-container-spoiler-r2-c1-key.education-timetable-container-spoiler-r2-c1-key-inline Преподаватель:
                        .education-timetable-container-spoiler-r2-c1-val.education-timetable-container-spoiler-r2-c1-val-inline Олег Бондарчук.
                            a(href="#") Напишите
                            | , чтобы получить консультацию.
                    .education-timetable-container-spoiler-r2-c2 Модуль Хореографический по дополнительным направлениям системы Aplomb
            .education-timetable-container-spoiler.spoiler
                .education-showmore.spoiler-title
                    span.education-showmore-open Подробнее
                    span.education-showmore-close Свернуть
                    img.education-showmore-chevron(src="/img/icon/chevron.svg")
                .education-timetable-container-spoiler-r1
                    .education-timetable-container-spoiler1-c1
                        .education-timetable-container-spoiler1-c1-date 22–26 июня 2020
                        .education-timetable-container-spoiler1-c1-town Санкт-Петербург
                    .education-timetable-container-spoiler1-c2
                        .education-timetable-container-spoiler1-c2-name Хореографический модуль
                        .education-timetable-container-spoiler1-c2-status Идет запись
                    .education-timetable-container-spoiler1-c3
                        .education-timetable-container-spoiler1-c3-price 30 000 ₽
                        .education-timetable-container-spoiler1-c3-prepay Предоплата 6 000 ₽
                    .education-timetable-container-spoiler1-c3-button Записатся
                .education-timetable-container-spoiler-r2
                    .education-timetable-container-spoiler-r2-c1
                        .education-timetable-container-spoiler-r2-c1-key Адрес:
                        .education-timetable-container-spoiler-r2-c1-val Максима Горького, 51, цокольный этаж
                        .education-timetable-container-spoiler-r2-c1-key Время проведения курса:
                        .education-timetable-container-spoiler-r2-c1-val 5 дней с 13 по 17 июня, с 10:00 до 17:00 часов.
                        .education-timetable-container-spoiler-r2-c1-key.education-timetable-container-spoiler-r2-c1-key-inline Преподаватель:
                        .education-timetable-container-spoiler-r2-c1-val.education-timetable-container-spoiler-r2-c1-val-inline Олег Бондарчук.
                            a(href="#") Напишите
                            | , чтобы получить консультацию.
                    .education-timetable-container-spoiler-r2-c2 Модуль Хореографический по дополнительным направлениям системы Aplomb
            .education-timetable-container-spoiler.spoiler
                .education-showmore.spoiler-title
                    span.education-showmore-open Подробнее
                    span.education-showmore-close Свернуть
                    img.education-showmore-chevron(src="/img/icon/chevron.svg")
                .education-timetable-container-spoiler-r1
                    .education-timetable-container-spoiler1-c1
                        .education-timetable-container-spoiler1-c1-date 22–26 июня 2020
                        .education-timetable-container-spoiler1-c1-town Санкт-Петербург
                    .education-timetable-container-spoiler1-c2
                        .education-timetable-container-spoiler1-c2-name Хореографический модуль
                        .education-timetable-container-spoiler1-c2-status.red Идет запись
                    .education-timetable-container-spoiler1-c3
                        .education-timetable-container-spoiler1-c3-price 30 000 ₽
                        .education-timetable-container-spoiler1-c3-prepay Предоплата 6 000 ₽
                    .education-timetable-container-spoiler1-c3-button.education-timetable-container-spoiler1-c3-button-link Завершено
                .education-timetable-container-spoiler-r2
                    .education-timetable-container-spoiler-r2-c1
                        .education-timetable-container-spoiler-r2-c1-key Адрес:
                        .education-timetable-container-spoiler-r2-c1-val Максима Горького, 51, цокольный этаж
                        .education-timetable-container-spoiler-r2-c1-key Время проведения курса:
                        .education-timetable-container-spoiler-r2-c1-val 5 дней с 13 по 17 июня, с 10:00 до 17:00 часов.
                        .education-timetable-container-spoiler-r2-c1-key.education-timetable-container-spoiler-r2-c1-key-inline Преподаватель:
                        .education-timetable-container-spoiler-r2-c1-val.education-timetable-container-spoiler-r2-c1-val-inline Олег Бондарчук.
                            a(href="#") Напишите
                            | , чтобы получить консультацию.
                    .education-timetable-container-spoiler-r2-c2 Модуль Хореографический по дополнительным направлениям системы Aplomb