.lessons-faq
    .lessons-faq-title Направления занятий
    .spoiler.lessons-faq-spoiler.lessons-faq-spoiler-first
        .spoiler-title.lessons-faq-spoiler
            span Если я не сажусь на шпагат, могу ли я пройти обучение?
            img(src="/img/icon/plus.svg")
        .spoiler-body.lessons-faq-body-body Да, конечно. Для этого мы и создали курс для новичков. На нем вы узнаете о самом методе безболезненной растяжке, основанной на синхронизации внутреннего дыхания и линейных ощущений.
    .spoiler.lessons-faq-spoiler.lessons-faq-spoiler-first
        .spoiler-title.lessons-faq-spoiler
            span Если я не сажусь на шпагат, могу ли я пройти обучение?
            img(src="/img/icon/plus.svg")
        .spoiler-body.lessons-faq-body-body Да, конечно. Для этого мы и создали курс для новичков. На нем вы узнаете о самом методе безболезненной растяжке, основанной на синхронизации внутреннего дыхания и линейных ощущений.
    .spoiler.lessons-faq-spoiler.lessons-faq-spoiler-first
        .spoiler-title.lessons-faq-spoiler
            span Если я не сажусь на шпагат, могу ли я пройти обучение?
            img(src="/img/icon/plus.svg")
        .spoiler-body.lessons-faq-body-body Да, конечно. Для этого мы и создали курс для новичков. На нем вы узнаете о самом методе безболезненной растяжке, основанной на синхронизации внутреннего дыхания и линейных ощущений.
    .spoiler.lessons-faq-spoiler.lessons-faq-spoiler-first
        .spoiler-title.lessons-faq-spoiler
            span Если я не сажусь на шпагат, могу ли я пройти обучение?
            img(src="/img/icon/plus.svg")
        .spoiler-body.lessons-faq-body-body Да, конечно. Для этого мы и создали курс для новичков. На нем вы узнаете о самом методе безболезненной растяжке, основанной на синхронизации внутреннего дыхания и линейных ощущений.
    .spoiler.lessons-faq-spoiler.lessons-faq-spoiler-first
        .spoiler-title.lessons-faq-spoiler
            span Если я не сажусь на шпагат, могу ли я пройти обучение?
            img(src="/img/icon/plus.svg")
        .spoiler-body.lessons-faq-body-body Да, конечно. Для этого мы и создали курс для новичков. На нем вы узнаете о самом методе безболезненной растяжке, основанной на синхронизации внутреннего дыхания и линейных ощущений.