.footer-news-wrapper
    .footer-news
        .footer-news-title Новинки, уроки, события
        .footer-news-form
            .footer-news-form-input
                input.footer-news-form-input-el(placeholder="E-mail")
                span Подписаться
            .footer-news-form-sm
                a(href="#")
                    img(src="/img/icon/fb.svg")
                a(href="#")
                    img(src="/img/icon/vk.svg")
                a(href="#")
                    img(src="/img/icon/inst.svg")