.footer-moreinfo-wrapper
    .footer-moreinfo
        .footer-moreinfo-title Хотите узнать больше об обучении и о пользе конкретно для вас?
        .footer-moreinfo-text
            | Позвоните или напишите:
            br
            a(href="#") 8 (800) 7700 918
            | — звонок бесплатно
            br
            a(href="#") admin@aplomb.ru
            br
            |и мы с радостью проконсультируем вас.