!= partial("./footer-news")
.footer-wrapper
    .footer
        .footer-r1
            img.footer-r1-logo(src="/img/footer-logo.svg")
            .footer-r1-spoiler
                .footer-r1-spoiler-title
                    span Занятия
                    img(src="/img/icon/menu-arrow.svg")
                .footer-r1-spoiler-body
                    a.footer-r1-spoiler-body-a(href="#") О занятиях
                    a.footer-r1-spoiler-body-a(href="#") Расписание школы студии Aplomb
                    a.footer-r1-spoiler-body-a(href="#") Инструкторы и залы
            .footer-r1-spoiler
                .footer-r1-spoiler-title
                    span Занятия
                    img(src="/img/icon/menu-arrow.svg")
                .footer-r1-spoiler-body
                    a.footer-r1-spoiler-body-a(href="#") О занятиях
                    a.footer-r1-spoiler-body-a(href="#") Расписание школы студии Aplomb
            .footer-r1-spoiler
                .footer-r1-spoiler-title
                    span Занятия
                    img(src="/img/icon/menu-arrow.svg")
                .footer-r1-spoiler-body
                    a.footer-r1-spoiler-body-a(href="#") О занятиях
                    a.footer-r1-spoiler-body-a(href="#") Расписание школы студии Aplomb
                    a.footer-r1-spoiler-body-a(href="#") Инструкторы и залы
                    a.footer-r1-spoiler-body-a(href="#") Инструкторы и залы
            .footer-r1-spoiler
                .footer-r1-spoiler-title
                    span Занятия
                    img(src="/img/icon/menu-arrow.svg")
                .footer-r1-spoiler-body
                    a.footer-r1-spoiler-body-a(href="#") О занятиях
                    a.footer-r1-spoiler-body-a(href="#") Расписание школы студии Aplomb
                    a.footer-r1-spoiler-body-a(href="#") Инструкторы и залы
            .footer-r1-contacts
                div
                    .footer-r1-contacts-phone 8 (800) 7700 918
                    .footer-r1-contacts-phone 8 (800) 7700 918
                    .footer-r1-contacts-link
                        a(href="#") Контакты
                .footer-r1-contacts-stores
                    a(href="#")
                        img(src="/img/icon/googleplay.svg")
                    a(href="#")
                        img(src="/img/icon/appstore.svg")
        .footer-r2
            .footer-r2-copyright © Aplomb. Система занятий. 2020
            .footer-r2-text Воспроизведение материалов данного сайта возможно при условии обязательного размещения активной ссылки на www.aplomb.ru

