.navbar-wrapper
    .navbar

        .navbar-c1
            img.navbar-c1-bars(src="/img/icon/bars.svg")
            .navbar-c1-element
                a.navbar-c1-element-title(href="#") Aplomb это
            .navbar-c1-element
                .navbar-c1-element-title Занятия
                .navbar-c1-element-hidden-wrapper
                    .navbar-c1-element-hidden-arrow
                    .navbar-c1-element-hidden
                        .navbar-c1-element-hidden-links
                            a.navbar-c1-element-hidden-links-el(href="#") О занятиях
                            a.navbar-c1-element-hidden-links-el(href="#") Студия Aplomb-Новосибирск
                            a.navbar-c1-element-hidden-links-el(href="#") Все инструкторы
                            a.navbar-c1-element-hidden-links-el(href="#") Все залы
                        .navbar-c1-element-hidden-qa(style='background: url("/img/background/navbar-menu-background.png")')
                            .navbar-c1-element-hidden-qa-subtitle Вопросы и ответы
                            .navbar-c1-element-hidden-qa-title
                                |   Есть вопросы?
                                br
                                | Мы на все ответили
            .navbar-c1-element
                .navbar-c1-element-title Обучение
                .navbar-c1-element-hidden-wrapper
                    .navbar-c1-element-hidden-arrow
                    .navbar-c1-element-hidden
                        .navbar-c1-element-hidden-links
                            a.navbar-c1-element-hidden-links-el(href="#") Программа обучения
                            a.navbar-c1-element-hidden-links-el(href="#") Расписание курсов
                            a.navbar-c1-element-hidden-links-el(href="#") Об обучении
                        .navbar-c1-element-hidden-qa(style='background: url("/img/background/navbar-menu-background1.png")')
                            .navbar-c1-element-hidden-qa-subtitle Вопросы и ответы
                            .navbar-c1-element-hidden-qa-title
                                |   Есть вопросы?
                                br
                                | Мы на все ответили
            .navbar-c1-element
                a.navbar-c1-element-title(href="#") Магазин
        img.navbar-logo(src="/img/logo.svg")
        .navbar-c2
            a.navbar-c2-elememt.navbar-c2-elememt-phone(href="#")
                span 8 800 7700 918
                img.navbar-c2-elememt-ico(src="/img/icon/phone.svg")
            a.navbar-c2-elememt.navbar-c2-elememt-signin(href="#")
                | Войти
                img.navbar-c2-elememt-ico(src="/img/icon/signin.svg")
            a.navbar-c2-elememt.navbar-c2-elememt-cart(href="#")
                img.navbar-c2-elememt-ico(src="/img/icon/cart.svg")
                span 23 500 ₽