.reviews-slider-wrapper
    .reviews-slider

        .reviews-slider-title Отзывы о системе занятий
        .reviews-slider-subtitle Узнайте, что говорят те. кто получил результат
        .reviews-slider-container
            .reviews-slider-container-element
                .reviews-slider-container-element-info
                    .reviews-slider-container-element-info-quote «Раньше я поверхностно относилась к силе дыхания и ощущений, но теперь для меня открылся целый мир о котором я даже не подозревала.»
                    .reviews-slider-container-element-info-name Екатерина Ягудина 1
                    .reviews-slider-container-element-info-about Менеджер
                img.reviews-slider-container-element-photo(src="/img/photo/reviews1.png")
            .reviews-slider-container-element
                .reviews-slider-container-element-info
                    .reviews-slider-container-element-info-quote Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, adipisci aliquam asperiores assumenda delectus dicta dolor eaque esse est illo
                    .reviews-slider-container-element-info-name Екатерина Ягудина 2
                    .reviews-slider-container-element-info-about Менеджер
                img.reviews-slider-container-element-photo(src="/img/photo/reviews1.png")
            .reviews-slider-container-element
                .reviews-slider-container-element-info
                    .reviews-slider-container-element-info-quote «Раньше я поверхностно относилась к силе дыхания и ощущений, но теперь для меня открылся целый мир о котором я даже не подозревала.»
                    .reviews-slider-container-element-info-name Екатерина Ягудина 3
                    .reviews-slider-container-element-info-about Менеджер
                img.reviews-slider-container-element-photo(src="/img/photo/reviews1.png")
            .reviews-slider-container-element
                .reviews-slider-container-element-info
                    .reviews-slider-container-element-info-quote Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, adipisci aliquam asperiores assumenda delectus dicta dolor eaque esse est
                    .reviews-slider-container-element-info-name Екатерина Ягудина 4
                    .reviews-slider-container-element-info-about Менеджер
                img.reviews-slider-container-element-photo(src="/img/photo/reviews1.png")
            .reviews-slider-container-element
                .reviews-slider-container-element-info
                    .reviews-slider-container-element-info-quote «Раньше я поверхностно относилась к силе дыхания и ощущений, но теперь для меня открылся целый мир о котором я даже не подозревала.»
                    .reviews-slider-container-element-info-name Екатерина Ягудина 5
                    .reviews-slider-container-element-info-about Менеджер
                img.reviews-slider-container-element-photo(src="/img/photo/reviews1.png")
            .reviews-slider-container-controls
                button#ReviewsPrev
                    img(src="/img/icon/chevron.svg")
                button#ReviewsNext
                    img(src="/img/icon/chevron.svg")